@charset "UTF-8";

 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --letter-logotype: #2A8C4A;
    /*--letter-nav: #064119;*/
    --letter-nav: #042a10;
    --back-header1: #9BFAB0;

    --division-line: #64C27B;
    --back-nav1: #64C27B;
    --back-nav-selected1: #2A8C4A;
    --back-nav2: #D0FDD7;
    --back-nav-selected2: #76b88ccf;
    --back-nav3: #76B88C;
    --black: #000000;
    --color3: #024053;
    --c-orange: #fda035;
    --c-yellow: #FBFE2D;
    --c-green: #6EFF57;
    --c-blue: #577CFF;
    --clr:#9BFAB0;
    --clr2:#64C27B;
    --clr3:#2A8C4A;

    --fonte-padrao: 'Inter', sans-serif;
    --fonte-destaque: 'Open sans', sans-serif;
    --fonte-titulo: 'Oleo script', sans-serif; 
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}
html{
    height: 100%;
}
body{
    background-color: #ededed;
    /* min-height: 100vh; */
}
main{
    width: 65%;
    margin: auto;
    background-color: #f5f5f5;
    padding: 22px 50px 120px 50px;
    box-shadow: 1px 1px 4px 0px lightgray;
    font-family: var(--fonte-destaque);
    min-height: 100vh;
}
main i:before{
    color: gray;
    /* position: absolute; */
    transform: rotate(90deg);
    font-size: 30px;
    z-index: 1;
}
main i:hover{
    cursor: pointer;
}
#title{
    display: flex;
    flex-direction: row;
}
h1{
    position: relative;
    display: block;
    color: var(--color3);
    font-size: 26px;
    padding: 2px 0;
    /* margin-top: 22px; */
    margin-left: 10px;
    margin-bottom: 6px;   
}
h2{
    font-size: 22px;
    margin: 20px 0;
    font-weight: 550;
    font-family: var(--fonte-destaque);
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
h3{
    font-weight: 600;
}
.inner_container_av{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}
.av_box{
    display: flex;
    flex-direction: column;
}
.group{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.ask{
    font-weight: 600;
}
.checked{
    color:orange;
}
#avaliacao{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#estrelas{
    margin-left: 12px;
}
.cor{
    margin-left: 10px;
}
.comentario{
    width: 95%;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
}