@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --letter-logotype: #2A8C4A;
    /*--letter-nav: #064119;*/
    --letter-nav: #042a10;
    --back-header1: #9BFAB0;
    --back-header2: #F0F0F0;

    --division-line: #64C27B;
    --back-nav1: #64C27B;
    --back-nav-selected1: #2A8C4A;
    --back-nav2: #D0FDD7;
    --back-nav-selected2: #76b88ccf;
    --back-nav3: #76B88C;
    --black: #000000;
    --color3: #024053;
    --c-orange: #FF9533;
    --c-yellow: #FBFE2D;
    --c-green: #6EFF57;
    --c-blue: #577CFF;
    --clr:#9BFAB0;
    --clr2:#64C27B;
    --clr3:#2A8C4A;

    --fonte-padrao: 'Inter', sans-serif;
    --fonte-destaque: 'Open sans', sans-serif;
    --fonte-titulo: 'Oleo script', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    height: 100%;
    font-size: 62.5%;
}
body{
    font-family: var(--fonte-padrao);
    background-color: #ededed;
    min-height: 100vh;
}
main {
    font-family: var(--fonte-destaque);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 68%;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    bottom: 0px;
    padding-top: 20px;
    background-color: whitesmoke;
    /* border-radius: 7px; */
    padding: 0 50px;
    padding-bottom: 120px;
    box-shadow: 1px 1px 4px 0px lightgray;
}
main > h1 {
    position: relative;
    display: block;
    color: var(--color3);
    /* background-color: #e2e2e2be; */
    font-size: 1.8rem;
    margin-top: 22px;
    margin-bottom: 6px;
}
main .nome_local{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}
main .detalhamento {
    position: relative;
    display: inline-block;
    margin-right: 100px;
    
}
#inf_gerais{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 90%; 
}
.nome_local > h3{
    font-family: var(--fonte-destaque);
    margin-top: 12px;
    margin-bottom: 2px;
    font-size: 1.8rem;
}
.nome_local span{
    font-family: var(--fonte-destaque);
    font-size: 1.8rem;
}
#container_contato{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 125px;
}
#contato{
    display: flex;
    flex-direction: column;
}
.tempos_de_espera{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    width: 270px;
}
.tempos span{
    font-family: var(--fonte-padrao);
}
.tempos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.min{
    font-size: 1.6rem;
}
.detalhamento > ul {
    position: absolute;
    display: flex;
    flex-direction: column;
   
}
.detalhamento > ul > li{
    position: relative;
    left: 20px;
}
main i{
    position: absolute;
    transform: rotate(90deg);
    top: 14px;
    left: 15px;
    font-size: 3rem;
    z-index: 1;
    color: gray;
}
main i:hover{
    cursor: pointer;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: auto;
}
.box_tempos_medios{
    display: flex;
    flex-direction: column;
}
.box_tempos_medios > span{
    font-size: 1.5rem;
    margin-bottom: 7px;
}
.question{
    font-weight: 500;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: start;
}
.input1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    font-weight: 500;
}
.input3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 497px;
}
.cor_risco{
    height:35px; 
    width:35px; 
    vertical-align: middle; 
}
.c-red,
.c-orange,
.c-yellow,
.c-green,
.c-blue{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid gray;
    box-shadow: 1px 1px 10px 0px lightgray;   
}
.c-red{
    background-color: rgba(255, 0, 0, 0.689);
}
.c-orange {
    background-color: var(--c-orange);
}
.c-yellow {
    background-color: var(--c-yellow);
}
.c-green {
    background-color: var(--c-green);
}
.c-blue {
    background-color: var(--c-blue);
}
.laranja,
.amarelo,
.verde,
.azul{
    font-family: var(--fonte-destaque);
}
.respostas{
    margin: 18px 18px 18px 30px;
}
.sim,
.nao{
    font-size: 2.1rem;
    font-family: var(--fonte-destaque);
    /* padding: 7px; */
    width: 60px;
    height: 40px;
    margin: 0 10px 25px 10px;
    border: none;
    border-radius: 7px;
    box-shadow: 4px 4px 10px 0px lightgray;
}
.sim{
    background-color: var(--c-green);
}
.nao{
    background-color: rgba(255, 0, 0, 0.557);
}
.sim:hover{
    cursor: pointer;
    border: 1px solid rgba(0, 221, 0, 0.886);
}
.nao:hover{
    cursor: pointer;
    border: 1px solid red;
}
#class_de_risco{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.risco{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
#red,
#orange,
#yellow,
#green,
#blue{
    appearance: none;
    padding: 10px;
    border-radius:50%; 
    box-shadow: 1px 1px 10px 0px lightgray;   
}
 #red{
    border: 2px solid red;
 }
#red:checked{
    background-color: rgba(255, 0, 0, 0.689);
}
 #orange{
    border: 2px solid orange;
 }
 #orange:checked{
    background-color: rgba(255, 166, 0, 0.783);
}
 #yellow{
    border: 2px solid rgb(243, 243, 1);
 }
 #yellow:checked{
    background-color: var(--c-yellow);
}
 #green{
    border: 2px solid rgba(0, 221, 0, 0.886);
 }
 #green:checked{
    background-color: var(--c-green);
}
 #blue{
    border: 2px solid rgba(0, 0, 255, 0.861);
 }
 #blue:checked{
    background-color: var(--c-blue);
}
#inf-end-correto,
#inf-tel-correto{
    height: 30px;
    left: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    width: 100%;
}
input#horario-entrada,
input#horario-atendimento,
input#horario-saida{
    font-size: 1.5rem;
    height: 30px;
    border: 1px solid gray;
    border-radius: 7px;
    left: 10px;
    padding: 0 5px;
}
#observacao{
    height: 100px;
    width: 750px;
    border: 1px solid gray;
    border-radius: 7px;
}
#class_de_risco{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.risco{
    margin-top: 20px;
}
#stars{
    display: flex;
}
.avaliacao {
    /* float: left; */
    height: 56px;
    padding: 0 10px;
    /* margin: auto; */
}
.avaliacao:not(:checked) > input {
    position: absolute;
    top: -9999px;
}
.avaliacao:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 5rem;
    color: #ccc;
}
.avaliacao:not(:checked) > label:before {
    content: '★ ';
}
.avaliacao > input:checked ~ label {
    color: #ffc700;
}
.avaliacao:not(:checked) > label:hover,
.avaliacao:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.avaliacao > input:checked + label:hover,
.avaliacao > input:checked + label:hover ~ label,
.avaliacao > input:checked ~ label:hover,
.avaliacao > input:checked ~ label:hover ~ label,
.avaliacao > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
#observacao{
    width: 100%;
    height: 100px;
}
#enviar {
    font-family: var(--fonte-destaque);
    font-size: 1.8rem;
    font-weight: 600;
    height: 40px;
    background-color: var(--c-blue);
    color: whitesmoke;
    border: none;
    border-radius: 7px;
    margin: 7px 0 25px 0; 
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
}
#enviar:hover{
    cursor: pointer;
    background-color: #2042bd;
}
input:hover{
    cursor: pointer;

}
#star1, #star2, #star3, #star4, #star5{
  /* opacity: 0;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0; */
  display: none;
}
footer {
    display: block;
    position: relative;  
    bottom: 0px;
    justify-content: left;
    font-size: 1.3rem;
    font-weight: bold;
    width:100%;
    background-color: var(--back-header1);
    border-top: 1px solid #06411950;
    color: #000000;
    padding: 10px 10px 10px 70px;
    align-content: right;
    margin-top: auto;
    margin-bottom: 0px;
}

@media (max-width: 2560px) {
    main{
        width: 35%;
    }
}
@media (max-width: 1440px) {
    main{
        width: 60%;
    }
    .input1{
        width: auto;
        justify-content: flex-start;
    }
    .input1 > span > input{
        margin-left: 20px;
    }
}
@media (max-width: 1024px) {
    main{
        width: 70%;
    }
    #inf_gerais{
        flex-direction: column;
    }
    .box_tempos_medios{
        margin: 20px 0;
    }
}
       
@media (max-width: 768px) {
    main{
        width: 90%;
    }
}
@media (max-width: 425px) {
    main{
        width: 100%;
    }
    .input1{
        width: auto;
        flex-wrap: wrap;
    }
    #horario-saida{
        display: block;
    }
    .input1 > span > input{
        margin-top: 10px;
    }
    #inf_gerais, #container{
        margin: 0;
    }
    .risco > label{
        width: 35px;
        text-align: center;
    }
}
@media (max-width: 375px) {
    #container{
        width: 100%;
    }
}
@media (max-width: 320px) {
    #container{
        width: 100%;
    }
    #class_de_risco, .tempos_de_espera{
        flex-direction: column;
        align-items: flex-start;
    }
    .risco{
        flex-direction: row;
    }
    .risco > label{
        width: 100px;
        margin-left: 10px;
        text-align: start;
    }
    .tempos{
        margin: 5px 0;
        flex-direction: row;
    }
    .min{
        margin-left: 10px;
    }
    .respostas{
        margin: 18px;
    }
    .avaliacao:not(:checked) > label{
        font-size: 4rem;
    }
}

