@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --clr:#1D7FF1;
    --clr2: #002653;
    --fonte-padrao: 'Inter', sans-serif;
    --fonte-destaque: 'Open sans', sans-serif;
    --fonte-titulo: 'Oleo script', sans-serif; 
} 
body{
    background-color: rgba(0, 0, 0, 0.285);
    font-family: var(--fonte-padrao);
}
.modal_box_notification{
    position: fixed;
    place-content: center;
    width: 100vw;
    height: 100vh;
    display: grid;
}
.modal_notification{
background-color: white;
padding: 10px 20px;
border-radius: 10px;
width: 400px;
height: 320px;
}
#modal_title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 20px;
    /* font-family: Josefin Sans; */
    margin-top: 0px;
}
#modal_title > h1{
    font-size: 20px;
    margin-left: 40px;
    /* margin: auto; */
}
.modal_phrase{
    align-items: center;
    /* font-family: Josefin Sans; */
    margin-top: 0px;
    padding: 20px;
    position: relative;
    top: 10px;
}
.modal_button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20px;
    margin-top: 20px;
    margin-left:20px;
    font-size: 17px;
    /* font-family: Josefin Sans; */
    font-family: var(--fonte-padrao);
    background-color: var(--clr);
    /* padding: 0px; */
    width: 320px;
    height: 35px;
    border-radius: 5px;
    color: white;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.modal_button:hover{
    background-color: #002653;
}
.modal_icon_back{
    width: 20px;
}
.voltar{
    background-color: transparent;
    border: none;
    padding: 0 5px;
    margin: 10px 10px;
}
.voltar:hover{
    cursor: pointer;
}