@charset "UTF-8";

 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --letter-logotype: #2A8C4A;
    /*--letter-nav: #064119;*/
    --letter-nav: #042a10;
    --back-header1: #9BFAB0;
    --back-header2: #F0F0F0;

    --division-line: #64C27B;
    --back-nav1: #64C27B;
    --back-nav-selected1: #2A8C4A;
    --back-nav2: #D0FDD7;
    --back-nav-selected2: #76b88ccf;
    --back-nav3: #76B88C;
    --black: #000000;
    --color3: #024053;
    --c-orange: #fda035;
    --c-yellow: #FBFE2D;
    --c-green: #6EFF57;
    --c-blue: #577CFF;
    --clr:#9BFAB0;
    --clr2:#64C27B;
    --clr3:#2A8C4A;

    --fonte-padrao: 'Inter', sans-serif;
    --fonte-destaque: 'Open sans', sans-serif;
    --fonte-titulo: 'Oleo script', sans-serif; 
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}
html{
    height: 100%;
}
body{
    background-color: #ededed;
    min-height: 100vh;
}
main {
    font-family: var(--fonte-destaque);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60.5%;
    top: 0px;
    left: 52%;
    transform: translate(-50%);
    bottom: 0px;
    background-color: whitesmoke;
    border-radius: 7px;
    padding: 50px 40px 120px 40px;
    /* margin-bottom: 100px; */
    text-align: justify;
    z-index: 1;
    box-shadow: 1px 1px 4px 0px lightgray;
}
main h1{
    background:steelblue;
    color:white;
    padding:1em;
    position: relative;
    font-size: 18px;
    width: 340px;
    border-radius: 5px;
}
main h1:hover{
    cursor: pointer;
    background-color: rgb(51, 101, 142);
}
main h2{
    font-size: 18px;
    font-weight: 400;
}
span p{
    margin: 11px 15px;
    text-indent: 30px;
}
#navigation_aside{
    position: fixed;
    top: 140px;
    right: 20px;
    /* background-color: whitesmoke;
    border: 1px solid rgba(211, 211, 211, 0.623); */
    /* padding: 10px; */
    font-family: var(--fonte-destaque);
}
#navigation_aside header{
    /* background-color: rgba(70, 131, 180, 0.533); */
    padding: 15px 0;
    margin-bottom: 10px;
}
#navigation_aside h2{
    font-family: var(--fonte-padrao);
    font-size: 20px;
    font-weight: 500;
    /* text-align: center; */
}
#navigation_aside ul li{
    padding: 10px;
    list-style-type: none;
    border-left: 1px solid gray;
}
#navigation_aside ul li a{
    text-decoration: none;
    color: gray;
    font-family: var(--fonte-destaque);
}
#navigation_aside ul li a:hover{
    color: black;
    /* background-color: rgba(70, 131, 180, 0.426); */
}
#numbers_aside{
    position: fixed;
    top: 140px;
    left: 30px;
    background-color: whitesmoke;
    border: 1px solid rgba(211, 211, 211, 0.623);
    border-radius: 3px;
    width: 18.7%;
    padding-bottom: 10px;
}
#numbers_aside header{
    margin: 15px;
}
#numbers_aside_title{
    font-size: 20px;
    font-family: var(--fonte-destaque);
    font-weight: 700;
}
#numbers_aside li{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
#navigation_aside.top_bar_off,
#numbers_aside.top_bar_off{
    position: fixed;
    top: 100px;
}
/* #navigation_aside.top-bar_on,
#numbers_aside.top-bar_on{
    position: fixed;
    top: 100px;
} */
.span1{
    font-size: 16px;
    width: 20%;
    font-weight: bold;
    color: whitesmoke;
    background-color: steelblue;
    margin: 5px 0px 5px 10px;
    text-align: center;
    border-radius: 3px;
}
.span2{
    font-size: 15px;
    font-weight: 500;
}
#numbers_aside span{
    padding: 10px;
}
footer{
    position: relative;  
    bottom: 0;
    justify-content: left;
    font-size: 13px;
    font-weight: 500;
    width:100%;
    background-color: var(--back-header1);
    border-top: 1px solid #06411950;
    color: #000000;
    padding: 10px 10px 10px 70px;
    align-content: right;
    margin-top: auto;
    margin-bottom: 0px;
}
#faq-container{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 100%;
    top: 0px;
    margin: auto;
} 
#topic_box_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#c1, #c2, #c3, #c4, #c5{
    display:flex;
    flex-direction: column;
    margin: 10px 15px;
}
h1 > a{
    text-decoration: none;
    color: whitesmoke;
}
.question_answer{
    display: flex;
    flex-direction: column;
}
div.c{
    display: flex;
    flex-direction: column;
    margin:2em; 
}
.question1,
.question2{
    display: none;
    margin: 12px 12px 10px 20px;
}
.question1:hover,
.question2:hover{
    cursor: pointer;
    text-decoration: underline;
}
.question1.on,
.question2.on{
    margin: 12px 12px 0px 20px;
}
.answer1,
.answer2{
    display: none;
    margin: 0px;
    color: rgb(105, 105, 105);
}