@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --letter-logotype: #2A8C4A;
    /*--letter-nav: #064119;*/
    --letter-nav: #042a10;
    --back-header1: #9BFAB0;
    --back-header2: #F0F0F0;

    --division-line: #64C27B;
    --back-nav1: #64C27B;
    --back-nav-selected1: #2A8C4A;
    --back-nav2: #D0FDD7;
    --back-nav-selected2: #76b88ccf;
    --back-nav3: #76B88C;
    --black: #000000;
    --color3: #024053;
    --c-orange: #fda035;
    --c-yellow: #FBFE2D;
    --c-green: #6EFF57;
    --c-blue: #577CFF;
    --clr:#9BFAB0;
    --clr2:#64C27B;
    --clr3:#2A8C4A;

    --fonte-padrao: 'Inter', sans-serif;
    --fonte-destaque: 'Open sans', sans-serif;
    --fonte-titulo: 'Oleo script', sans-serif; 
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}
html{
    height: 100%;
}
body{
    background-color: #ededed;
    min-height: 100vh;
}
#principal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky; 
    top: 0px;
    background-color: var(--back-header1);
    margin: auto;
    height: 60px;
    width: 100%;
    text-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    border-bottom: 6px solid #33975488;
}
#logotipo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    margin-top: 6px;
}
#icone{
    margin-right: 9px;
    margin-bottom: 7px;
}
#titulo{
    font-family: var(--fonte-titulo);
    font-size: 27px;
    color: var(--clr3);
    font-weight: 400;
}
.login_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 36px;
    border: 0px;
    border-radius: 20px;
    font-size: 10px;
    padding-left: 7px;
    margin-top: 7px;
    margin-right: 3.6%; 
    /* box-shadow: 1px 1px gray; */
    border: 1px solid rgba(128, 128, 128, 0.616);
    z-index: 10;
}
.active, .login_box:hover {
    border: 1px solid lightgray;
    cursor: pointer;
    z-index: 10;
}
.content_account {
    padding: 0 18px;
    display: none;
    position: fixed;
    flex-direction: column;
    overflow: hidden;
    background-color: transparent;
    width: 186px;
    top: 48px;
    right: 31px;
    font-size: 8px;
    z-index: 10;
}
.content_account > button{
    border: 1px solid lightgray;
    border-radius: 0px;
    background-color: whitesmoke;
    z-index: 10;
}
.content_account > button:hover{
    background-color: lightgray;
}
.spanPesquisar {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.616);
    border-radius: 20px;
    min-width: 250px;
    width: 750px;
    max-width: 750px;
    height: 30px;
    text-indent: 30px;
    margin: auto;
}
.spanPesquisar span{
    float:left;
    padding-right: 5px;
    padding-bottom: 4px;
    margin-top: 4px;
    margin-left: -20px;
    margin-bottom: 5px;
    /* opacity: 0.6; */
    border-right: 1px solid gray;
}
#txt_pesquisar_locais,
#txt_outras_duvidas{
    float: left;  
    background-color: transparent;
    padding-left: 12px;
    padding-bottom: 2px; 
    font-size: 12px;
    font-family: var(--fonte-padrao);
    border: none;
    border-radius: 20px;
    height: 30px;
    min-width: 250px;
    width: 700px;
    max-width: 700px;
    outline: none;
} 
.spanPesquisar:hover {
    border: 1px solid lightgray;
}
#principal-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: var(--fonte-destaque);
    margin-top: 10px;
    padding: 0 10px 0 35px;;
}
#principal-nav > a {
    display: inline-block;
    color: var(--letter-nav);
    padding: 6px 12px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
}
#principal-nav > a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.divisor {
    color: var(--back-nav-selected1);
    font-size: 7px;
    margin-top: 10px;
}
/* #pesquisa{
    display: flex;
    /* position: sticky; *
    top: 150px;
    flex-direction: row;
    width: 80%;
    /* left: 50%;
    transform: translate(-50%);  *
    margin: auto;
    justify-content: center; 
    align-items: center;
    height: auto;
    background-color: #196fd2;
} */
#btnPesquisar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    padding: 7px 10px;
    margin-top: 10px;
    margin-right: 7px;
}
#btnPesquisar:hover{
    background-color: #60c2797a;
}
#top-bar1,
#top-bar2,
#top-bar3{
    display: flex;
    flex-direction: row;  
    position: fixed;
    justify-content: space-around;
    align-items: center;
    top: 60px;
    margin: auto;
    width: 100%;
    background-color:lightgray;
    z-index: 2;
}
#top-bar1{
    padding: .6% 28%;
}
#top-bar2{
    padding: 0px 2%;
}
#top-bar3{
    padding: 5.5px 0px;
}
#top-bar1.fixed,
#top-bar2.fixed,
#top-bar3.fixed{  
    position: fixed;
    z-index: 2;
}
#locais_de_atendimento,
#outras_duvidas{
    font-family: var(--fonte-padrao);
    font-size: 15px;
    background-color: whitesmoke;
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.616);
    border-radius: 3px;
}
#locais_de_atendimento:hover,
#outras_duvidas:hover{
    background-color: #cae2fe;
    cursor: pointer;
}
#top-bar1 a{
    color: black;
    text-decoration: none;
} 
#fechar_aba{
    font-size: 20px;
    position: absolute;
    top: 8px;
    right: 50px;
    z-index: 3;
    background-color: transparent;
    border: none;
    /* border-radius: 2px; */
    padding: 4px 8px 0px 8px;
}
#fechar_aba:hover{
    background-color:rgb(190, 188, 188);
    cursor: pointer;
}
#seletores > ul {
    list-style-type: none;
    margin-right: 0px;
}
#seletores > ul > li {
    padding: 20px 20px;
    border: 1px solid rgba(128, 128, 128, 0.616);
}
.wrapper{
    display: block;
    width: 180px;
    margin: 10px;
    border: 1px solid rgba(128, 128, 128, 0.616);
    border-radius: 3px;
}
.wrapper span{
    font-family: var(--fonte-destaque);
    font-size: 15px;
}
.select-btn, .options li{
    display: flex;
    cursor: pointer;
    align-items: center;
}
.select-btn{
    height: 30px;
    font-size: 15px;
    padding: 0 0 0 7px;
    border-radius: 2.5px;
    background: whitesmoke;
    justify-content: space-between;
}
.select-btn span{
    left: 7px;
}
.select-btn i{
    font-size: 31px;
    transition: transform 0.3s linear;
}
.wrapper.active .select-btn i{
    transform: rotate(-180deg);
}
.content{
    display: none;
    padding: 2px;
    margin-top: 0px;
    border-radius: 5px;
    background: var(--back-nav);
}
.wrapper.active .content{
    display: block;
}
.content .search{
    position: relative;
}
.search i{
    left: 15px;
    color: #999;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
}
.search input{
    height: 30px;
    width: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 15px 0 43px;
    border: 1px solid #b3b3b3;
}
.content .options{
    margin-top: 10px;
    max-height: 100px;
    overflow-y: auto;
    padding-right: 7px;
}
.options::-webkit-scrollbar{
    width: 7px;
}
.options::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;;
}
.options li{
    height: 25px;
    padding: 0 70px;
    font-size: 15px;
    border-radius: 5px;
}
.options li:hover, li.selected{
    background: var(--division-line);
}
.voltar{
    background-color: transparent;
    border: none;
    padding: 0 5px;
    margin: 0px 10px;
}
.voltar:hover{
    cursor: pointer;
    background-color:rgb(190, 188, 188);
}
#btnProcurar {
    /* position: absolute; */
    background-color: #BBD9FB;
    border: 1px solid var(--c-blue);
    border-radius: 5px;
    padding: 2px 3px 0px 3px;
    margin: 0 25px 0 10px;
    cursor: pointer;
    box-shadow: 1px 1px 10px 0px lightgray;
    z-index: 0;
}
#btnProcurar:hover{
    cursor:pointer;
    background-color: #88bfff;
}
#icon_lupa{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: black;                
}
footer {
    position: relative;  
    bottom: 0;
    justify-content: left;
    font-size: 13px;
    font-weight: bold;
    width:100%;
    background-color: var(--back-header1);
    border-top: 1px solid #06411950;
    color: #000000;
    padding: 10px 10px 10px 70px;
    align-content: right;
    margin-top: auto;
    margin-bottom: 0px;
}