@charset "UTF-8";

 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --letter-logotype: #2A8C4A;
    /*--letter-nav: #064119;*/
    --letter-nav: #042a10;
    --back-header1: #9BFAB0;

    --division-line: #64C27B;
    --back-nav1: #64C27B;
    --back-nav-selected1: #2A8C4A;
    --back-nav2: #D0FDD7;
    --back-nav-selected2: #76b88ccf;
    --back-nav3: #76B88C;
    --black: #000000;
    --color3: #024053;
    --c-orange: #fda035;
    --c-yellow: #FBFE2D;
    --c-green: #6EFF57;
    --c-blue: #577CFF;
    --clr:#9BFAB0;
    --clr2:#64C27B;
    --clr3:#2A8C4A;

    --fonte-padrao: 'Inter', sans-serif;
    --fonte-destaque: 'Open sans', sans-serif;
    --fonte-titulo: 'Oleo script', sans-serif; 
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
html{
    height: 100%;
}
body{
    background-color: #ededed;
    min-height: 100vh;
}
main{
    width: 65%;
    margin: auto;
    background-color: #f5f5f5;
    padding: 22px 50px 120px 50px;
    box-shadow: 1px 1px 4px 0px lightgray;
    font-family: var(--fonte-destaque);
}
main i:before{
color: gray;
/* position: absolute; */
transform: rotate(90deg);
font-size: 30px;
z-index: 1;
}
main i:hover{
cursor: pointer;
}
#box_title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#title{
    position: relative;
    display: block;
    color: var(--color3);
    font-size: 26px;
    font-weight: bold;
    padding: 2px 0;
    /* margin-top: 22px; */
    margin-left: 10px;
    margin-bottom: 6px;   
}
h2{
    font-size: 22px;
    margin: 30px 0 10px 0;
    font-weight: 550;
    font-family: var(--fonte-destaque);
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
h3{
    margin: 10px 0 10px 0;
    font-weight: 550;
    font-family: var(--fonte-destaque);
    /* background-color: rgba(95, 158, 160, 0.53); */
    background-image: linear-gradient( to right, rgba(95, 158, 160, 0.218) 98%, whitesmoke );
}
h5, span{
    font-size: 18px;
    font-weight: normal;
}
h4{
    font-size: 20px;
    margin: 10px 0 7px 0;
    font-weight: 520;
    font-family: var(--fonte-destaque);
}
span{
    margin: 5px 0;
}
#aviso{
    font-size: 14px;
    color: rgba(229, 0, 0, 0.731);
    margin: 7px 10px;
}
.group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 7px 0;
}
.general_container,
.complete_answer,
.inner_container,
.hmp_container,
.medicamentos,
#contato,
#tipos_contato{
    display: flex;
    flex-direction: column;
}
.general_container{
    margin: 20px 0 20px 0;
}
.inner_container{
    margin-bottom: 5px;
}
.hmp_container{
    margin: 10px 0;
    align-items: first baseline;
}
#contato{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
}
.complete_answer{
    margin: 10px 0;
}
#contato{
    display: flex;
    flex-direction: row;
}
li{
    font-size: 18px;
    margin: 2px 0px 2px 20px;
}
.hmp_container > span,
.general_container span,
.general_container input,
.general_container button,
#contato > span,
.sem_registro, h5{
    margin-left: 10px;
}
input[type=text], input[type=tel], input[type=email], input[type=number]{
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 5px;
}
input[type=text]:focus{
    outline: none;
}
input[type=number], #tipo_sanguineo{
    width: 70px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 5px;
    margin-left: 10px;
}
input[type=date]{
    width: 150px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 5px;
    margin-left: 10px;
}
input[type=datetime-local]{
    width: 180px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 5px;
    margin-left: 10px;
}
#profissao{
    display: flex;
    color: var(--color3);
    flex-direction: column;
    margin-left: 0px;
}
#informe_profissao{
    font-size: 14px;
    display: none;
}
#profissao:hover #informe_profissao{
    position: relative;
    display: block;
    width: 700px;
}
.doenca_cronica, .sintomas, .doencas, .cirurgias, .motivo_internacao, .tempo_internacao, .condicao, .med_cp, .med_sp{
    width: 500px;
}
.data_cirurgia{
    margin-top: 7px;
}
.f{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.medicamentos{
    margin: 7px 0 7px 10px;
}
.inner_box_sintoma, .inner_box_internacao, .inner_box_doenca_cronica, .inner_box_diagnostico{
    display: flex;
    flex-direction: column;
    min-height: 120px;
    justify-content: space-between;
}
.inner_box_doenca_cronica, .inner_box_sintoma, .inner_box_diagnostico, .inner_box_cirurgia{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}
.inner_box_sintoma{
    height: 130px;
}
.inner_box_diagnostico{
    height: 40px;
}
.inner_box_cirurgia{
    min-height: 90px;
}
#nome, #sexo, #endereco, #telefone, #e-mail, #peso, #altura, #tp_sanguineo, #freq1, #freq2, #resp1, #resp2, #num_internacoes, #motivos_internacao, .grau_parentesco, .condicao_familiar, .nome_med_cp, .nome_med_sp, .freq_med_cp, .freq_med_sp{
    margin-left: 5px;
}
#btn_editar_dados, #submit{
    font-size: 20px;
    font-weight: 500;
    background-color: #577bff89;
    padding: 7px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 4px 0px gray;
    margin-top: 10px;
}
#btn_editar_dados:hover, #submit:hover{
    cursor: pointer;
    background-color: #577CFF;
}
#outer_box_doenca_cronica, #outer_box_sintoma, #outer_box_diagnostico, #outer_box_cirurgia, #outer_condicao_familiar, #outer_box_internacao, #outer_med_cp, #outer_med_sp, #add_doenca_cronica, #add_sintoma, #add_diagnostico, #add_cirurgia, #add_internacao, #answer1, #answer2, .condicao_familiar{
    display: none;
}
#outer_box_doenca_cronica.on, #outer_box_sintoma.on, #outer_box_diagnostico.on, #outer_box_cirurgia.on, #outer_condicao_familiar.on, #outer_box_internacao.on, #outer_med_cp.on, #outer_med_sp.on, #add_doenca_cronica.on, #add_sintoma.on, #add_diagnostico.on, #add_cirurgia.on, #add_internacao.on, #answer1.on, #answer2.on, .condicao_familiar.on, .inner_box_doenca_cronica, .inner_box_sintoma, .inner_box_diagnostico, .inner_box_cirurgia, .inner_box_internacao{
    display: flex;
    flex-direction: column;
}
#answer1{
    margin-bottom: 10px;
}

.inner_box_internacao{
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}
.condicao_familiar.on{
    justify-content: space-around;
    height: 100px;
}
.inner_condicao_familiar, .inner_med_cp, .inner_med_sp{
    margin-bottom: 20px;
}
.organize_button{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.f{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
}
.subquestion{
    margin-top: 20px;
}
.add_doenca_cronica, .add_sintoma, .add_diagnostico, .add_cirurgia, .add_internacao, .add_condicao_familiar, .add_med_cp, .add_med_sp{
    padding: 5px 10px;
    margin: 10px;
    background-color: #577bffa2;
    border: none;
    border-radius: 2px;
}
.rmbtn{
    padding: 5px 10px;
    margin: 10px;
    background-color: rgba(255, 0, 0, 0.704);
    border: none;
    border-radius: 2px;
}
#result{
    display: none;
}

@media (max-width: 2560px) {
    main{
        width: 40%;
    }
    label, p{
        font-size: 1.7rem
    }
}
@media (max-width: 1440px) {
    main{
        width: 60%;
    }
    h3{
        font-size: 1.7rem;
    }
}
@media (max-width: 1024px) {
    main{
        width: 70%;
    }
    #title{
        font-size: 2rem;
    }
}
@media (max-width: 768px) {
    main{
        width: 90%;
    }
    .h1_text{
        margin-top: 10px;
        font-size: 1.7rem;
    }
}
@media (max-width: 425px) {
    main{
        width: 100%;
    }
    .general_container{
        margin-top: 0;
    }
    .doenca_cronica, .sintomas, .doencas, .cirurgias, .motivo_internacao, .tempo_internacao, .condicao, .med_cp, .med_sp{
        width: auto;
    }
}
@media (max-width: 375px) {
    h2{
        font-size: 1.8rem;
    }
}
