@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --letter-logotype: #2A8C4A;
    /*--letter-nav: #064119;*/
    --letter-nav: #042a10;
    --back-header1: #9BFAB0;
    --back-header2: #F0F0F0;

    --division-line: #64C27B;
    --back-nav1: #64C27B;
    --back-nav-selected1: #2A8C4A;
    --back-nav2: #D0FDD7;
    --back-nav-selected2: #76b88ccf;
    --back-nav3: #76B88C;
    --black: #000000;
    --color3: #024053;
    --c-orange: #FF9533;
    --c-yellow: #FBFE2D;
    --c-green: #6EFF57;
    --c-blue: #577CFF;
    --clr:#9BFAB0;
    --clr2:#64C27B;
    --clr3:#2A8C4A;

    --fonte-padrao: 'Inter', sans-serif;
    --fonte-destaque: 'Open sans', sans-serif;
    --fonte-titulo: 'Oleo script', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: var(--fonte-padrao);  
    background-color: #ededed;
    min-height: 100vh;
    /* min-width:  */
}
main {
    font-family: var(--fonte-destaque);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    min-height: 100vh;
    width: 68%;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    bottom: 0px;
    background-color: whitesmoke;
    /* border-radius: 7px; */
    padding: 0px 50px 120px 50px;
    /* box-shadow: 4px 4px 10px 0px lightgray; */
    box-shadow: 1px 1px 4px 0px lightgray;
}
main > h1 {
    position: relative;
    display: block;
    color: var(--color3);
    /* background-color: #e2e2e2be; */
    font-size: 18px;
    margin-top: 22px;  
    margin-bottom: 6px;
}
#gerais{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}
#gerais > h3{
    font-family: var(--fonte-destaque);
    margin-top: 12px;
    margin-bottom: 2px;
    font-size: 18px;
}
#gerais span{
    font-family: var(--fonte-destaque);
    font-size: 18px;
}
#container_contato{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 125px;
}
#contato{
    display: flex;
    flex-direction: column;
}
#inf_gerais{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0px;
    margin: auto;
    margin-top: 0px;
    width: 90%;
}
.tempos_de_espera{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    width: 270px;
}
.tempos span{
    font-family: var(--fonte-padrao);
}
.tempos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#classificacao{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 280px;
}
#avaliacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 40px;
    width: 100%;
    margin: auto;
    background-color: rgba(70, 131, 180, 0.25);
    border-radius: 3px;
}
#estrelas{
    margin-left: 20px;
}
#container2{
    display: flex;
    width: 90%;
    margin: auto;
}
#mais_informacoes{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.detalhamento{
    background-color: rgba(226, 226, 226, 0.733);
    border-radius: 3px;
    padding: 15px 25px;
    margin: 7px 0;
}
.detalhamento > ul{ 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.detalhamento ul li{
    padding-left: 10%;
} 
main i{
    color: gray;
    position: absolute;
    transform: rotate(90deg);
    top: 14px;
    left: 15px;
    font-size: 30px;
    z-index: 1;
}
main i:hover{
    cursor: pointer;
}
.c-orange,
.c-yellow,
.c-green,
.c-blue {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid gray;
}
.c-orange{
    background-color: var(--c-orange);

}
.c-yellow {
    background-color: var(--c-yellow);
}
.c-green {
    background-color: var(--c-green);
}
.c-blue {
    background-color: var(--c-blue);
}
#btn_avaliar {
    display: flex;
    font-family: var(--fonte-destaque);
    background-color: orangered;
    border: none;
    border-radius: 20px;
    padding: 0px 10px; 
    height: 36px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    margin-bottom: 15px;
    align-items: center;
    color: #F0F0F0;
    font-size: 16px;
    font-weight: 500;
}
#link_avaliar{ 
    /* font-size: 14px; */
    text-decoration: none;
    
    text-align: center;
} 
#btn_avaliar:hover,
#link_avaliar:hover{
    cursor: pointer;
}
#link{
    display: flex;
    flex-direction: row;
    height: 90px;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 35px;
}
#link button{
    background-color: #BBD9FB;
    font-family: var(--fonte-destaque);
    font-size: 15px;
    font-weight: 500;
    padding: 7px 0 7px 0;
    height: 150px;
    width: 150px;
    border: 1px solid #577CFF;
    border-radius: 3px;
    margin: 0 30%;
}
#link button > a{
    color: black;
    text-decoration: none;
}
#link button:hover{
    cursor: pointer;
    background-color: #577bffa5;
}
.checked{
    color:orange;
}
.inline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 20px 10px 40px;
    width: 20%;
}
.list{
    margin: 20px 20px 40px 40px;
}
.list > li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 7px 0 0 20px;
    width: 15%;
}
#fontes{
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 40px;
}
#f{
    display: flex;
    flex-direction: column;
}
#f > a{
    margin-top: 7px;
}