@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
:root{
    --clr:#1D7FF1;
    --clr2: #002653;
    --fonte-padrao: 'Inter', sans-serif;
    --fonte-destaque: 'Open sans', sans-serif;
    --fonte-titulo: 'Oleo script', sans-serif; 
} 

body{
    font-family: var(--fonte-destaque);
}
#header_login{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.titule{
    display: inline-block; 
    font-size: 20px; 
    margin-left: 12px;
}
.modal_box_login{
    position: fixed;
    place-content: center;
    width: 100vw;
    height: 100vh;
    display: grid;
    z-index: 4;
    background-color: #8080807d;
}
p.modal_phrase{
    text-align: justify;
    align-items: center;
    /* font-family: Josefin Sans; */
    margin-top: 10px;
    padding: 20px;
}
.modal_login{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    height: 300px;
}
.modal_esqueciSenha{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 320px;
}
#modal_title{
    text-align: center;
    font-size: 20px;
    /* font-family: Josefin Sans; */
    /* margin-top: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 20px;
    /* font-family: Josefin Sans; */
    margin-top: 0px;
}
div#modal_title > h1{
    font-size: 20px;
    margin-left: 20px;
    /* margin: auto; */
}
.CriarConta{
    color: var(--clr);
    text-align: end;
    /* font-family: Josefin Sans; */
    margin-right: 10px;
}
.CriarConta:hover{
    text-decoration: underline;
}
.email_login{
    width: 370px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    text-indent: 10px;
    /* font-family: Josefin Sans; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid;
}
.email_login:hover{
    box-shadow: none;
}
.password_login{
    width: 370px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    text-indent: 10px;
    /* font-family: Josefin Sans; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid;
}
.password_login:hover{
    box-shadow: none;
}
.link_esqueciSenha{
    text-align: end;
    color: black;
    /* font-family: Josefin Sans; */
    margin-right: 10px;
}
.link_esqueciSenha:hover{
    text-decoration: underline;
}
#button_login{
    background-color: #1D7FF1;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: 370px;
    height: 40px;
    margin: 10px;
    /* font-family: Josefin Sans; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#button_login:hover{
    background-color:var(--clr2) ;
}
.login_google{
    margin: 10px;
    padding: 10px;
    color: #F14336;
    border-color: #F14336;
    border-radius: 5px;
    width: 370px;
    height: 40px;
    /* font-family: Josefin Sans; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.login_google:hover{
    box-shadow: none;
    color: #822b25;
    border-color:#822b25;
}
.login_facebook{
    display: block;
    padding: 10px;
    color: var(--clr);
    border-color: var(--clr);
    margin-left: 10px;
    border-radius: 5px;
    width: 370px;
    height: 40px;
    /* font-family: Josefin Sans; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.login_facebook:hover{
    color: #002653;
    border-color: #002653;
    background-color: #ededed;
    box-shadow: none;
}
.voltar{
    background-color: transparent;
    border: none;
    padding: 0 5px;
    margin: 0px 10px;
    font-size: 30px; 
    color: gray;
}
.voltar:hover{
    cursor: pointer;
}

@media (max-width: 425px) {
    .modal_login{
        width: 90vw;
        margin: auto;
        padding: 30px 20px;
    }
    .email_login, .password_login, .login_google, .login_facebook, #button_login{
        width: 95%;
    }
}
.hidden{
    display: none;
}
