@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --clr:#1D7FF1;
    --clr2: #002653;
    --fonte-padrao: 'Inter', sans-serif;
    --fonte-destaque: 'Open sans', sans-serif;
    --fonte-titulo: 'Oleo script', sans-serif; 
} 

.titule{
    display: inline-block; 
    font-size: 20px; 
    position: relative;
    left: -12px;
    /* font-family: Josefin Sans; */
    top: -4px;
}
.modal_box_login{
    position: fixed;
    place-content: center;
    width: 100%;
    height: 100%;
    display: grid;
    z-index: 3;
    background-color: rgba(0,0,0,0.5);
}
.hidden{
    display: none;
}
.modal_login{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    height: 300px;
}
.CriarConta{
    color: var(--clr);
    text-align: end;
    /* font-family: Josefin Sans; */
    margin-right: 10px;
}
.CriarConta:hover{
    text-decoration: underline;
}
.email_login{
    width: 370px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    text-indent: 10px;
    /* font-family: Josefin Sans; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid;
}
.email_login:hover{
    box-shadow: none;
}
.password_login{
    width: 370px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    text-indent: 10px;
    /* font-family: Josefin Sans; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid;
}
.password_login:hover{
    box-shadow: none;
}
.link_esqueciSenha{
    text-align: end;
    color: black;
    /* font-family: Josefin Sans; */
    margin-right: 10px;
}
.link_esqueciSenha:hover{
    text-decoration: underline;
    cursor: pointer;
}
#button_login{
    background-color: #1D7FF1;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: 370px;
    height: 40px;
    margin: 10px;
    /* font-family: Josefin Sans; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#button_login:hover{
    background-color:var(--clr2) ;
    box-shadow: none;
    cursor: pointer;
}
.login_google{
    margin: 10px;
    padding: 10px;
    color: #F14336;
    border-color: #F14336;
    border-radius: 5px;
    width: 370px;
    height: 40px;
    /* font-family: Josefin Sans; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.login_google:hover{
    box-shadow: none;
    color: #822b25;
    border-color:#822b25;
    cursor: pointer;
}
.login_facebook{
    display: block;
    padding: 10px;
    color: var(--clr);
    border-color: var(--clr);
    margin-left: 10px;
    border-radius: 5px;
    width: 370px;
    height: 40px;
    /* font-family: Josefin Sans; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.login_facebook:hover{
    color: #002653;
    border-color: #002653;
    background-color: #ededed;
    box-shadow: none;
    cursor: pointer;
}
.voltar2{
    background-color: transparent;
    border: none;
    padding: 0 5px;
    margin: 0px 10px;
}
.voltar2:hover{
    cursor: pointer;
}
.voltar3{
    background-color: transparent;
    border: none;
    padding: 0 5px;
    margin: 0px 10px;
}
.voltar3:hover{
    cursor: pointer;
}
.modal_box_esqueciSenha{
    position: fixed;
    place-content: center;
    width: 100vw;
    height: 100vh;
    display: grid;
}
.modal_esqueciSenha{
background-color: white;
padding: 20px;
border-radius: 10px;
width: 400px;
height: 320px;
}
#modal_title{
    text-align: center;
    font-size: 20px;
    /* font-family: Josefin Sans; */
    /* margin-top: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 20px;
    /* font-family: Josefin Sans; */
    margin-top: 0px;
}
#modal_title > h1{
    font-size: 20px;
    margin-left: 20px;
    /* margin: auto; */
}
.modal_phrase{
    text-align: justify;
    align-items: center;
    /* font-family: Josefin Sans; */
    margin-top: 10px;
    padding: 20px;
}
.modal_esqueciSenha .modal_email{
    display: block;
    border-radius: 5px;
    width: 320px;
    height: 35px;
    margin-top: 10px;
    text-indent: 10px;
    border: 1px solid #252525;
    margin-left:20px;
}
.modal_button{
    margin-top: 35px;
    margin-left:20px;
    /* font-family: Josefin Sans; */
    font-family: var(--fonte-padrao);
    font-size: 17px;
    background-color: var(--clr);
    /* padding: 0px; */
    width: 320px;
    height: 35px;
    border-radius: 5px;
    color: white;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.modal_button:hover{
    background-color: var(--clr2);
    box-shadow: none;
    cursor: pointer;
}
.message{
    width: 350px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 4;
    place-content: center;
    display: grid;
    border: 2px solid;
    border-radius: 15px;
    padding: 10px;
}
.message.success{
    background-color: rgba(50, 205, 50, 0.500);
}
.message.error{
    background-color: rgba(255, 0, 0, 0.500);
}
.active, .message:hover {
    border: 2px solid lightgray;
    cursor: pointer;
    z-index: 10;
}