@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --letter-logotype: #2A8C4A;
    /*--letter-nav: #064119;*/
    --letter-nav: #042a10;
    --back-header1: #9BFAB0;
    --back-header2: #F0F0F0;

    --division-line: #64C27B;
    --back-nav1: #64C27B;
    --back-nav-selected1: #2A8C4A;
    --back-nav2: #D0FDD7;
    --back-nav-selected2: #d6f1e0;
    --back-nav3: #76B88C;
    --black: #000000;
    --color3: #024053;
    --c-orange: #fda035;
    --c-yellow: #FBFE2D;
    --c-green: #6EFF57;
    --c-blue: #577CFF;
    --clr:#9BFAB0;
    --clr2:#64C27B;
    --clr3:#2A8C4A;

    --fonte-padrao: 'Inter', sans-serif;
    --fonte-destaque: 'Open sans', sans-serif;
    --fonte-titulo: 'Oleo script', sans-serif; 
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}
html{
    height: 100%;
    font-size: 62.5%;
}
body{
    background-color: #ededed;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    z-index: 2; 
    margin: auto;
    background-color: var(--back-header1);
    border-bottom: 6px solid #33975488;
}
.header_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky; 
    top: 0px; 
    margin: auto;
    width: 100vw;
    z-index: 2;
}
#logotipo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
}
#icone{
    margin-right: 9px;
    margin-bottom: 7px;
}
#link_sobre_nos{
    text-decoration: none;
    padding-left: 3%;
}
#titulo{
    font-family: var(--fonte-titulo);
    font-size: 2.7rem;
    color: var(--clr3);
    font-weight: 400;
}
#account_circle2{
    display: none;
}
#account_circle2:hover{
    cursor: pointer;
}
#box-sl{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}
.login_box, .login_box2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 113.66px;
    height: 36px;
    border: 0px;
    border-radius: 20px;
    font-size: 1rem;
    padding-left: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 3.6%; 
    /* box-shadow: 1px 1px gray; */
    border: 1px solid lightgray;
    z-index: 10;
}
.login_box:hover {
    border: 1px solid lightgray;
    cursor: pointer;
    z-index: 10;
}
#name-account{
    font-size: 1.1rem;
}
.content_account {
    padding: 0 18px;
    display: none;
    position: absolute;
    flex-direction: column;
    overflow: hidden;
    background-color: transparent;
    width: 150px;
    top: 42px;
    right: -8px;
    font-size: 0.8rem;
    z-index: 10;
}
.content_account > button{
    border: 1px solid lightgray;
    border-radius: 0px;
    background-color: whitesmoke;
    z-index: 10;
}
.content_account > button:hover{
    background-color: lightgray;
}
#menu_icon{
    color: whitesmoke;
    z-index: 1001;
    cursor: pointer;
    display: none;
}
.spanPesquisar {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.616);
    border-radius: 20px;
    top: 150px;
    min-width: 250px;
    width: 750px;
    max-width: 750px;
    height: 36px;
    text-indent: 30px;
}
.spanPesquisar span{
    float:left;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-left: -20px;
    margin-bottom: 6px;
    /* opacity: 0.6; */
    border-right: 1px solid gray;
}
#txt_pesquisar_locais,
input#txt_outras_duvidas{
    float: left;
    background-color: white;
    padding-left: 12px;
    padding-bottom: 2px;
    font-size: 1.2rem;
    font-family: var(--fonte-padrao);
    border: none;
    border-radius: 20px;
    height: 36px;
    min-width: 250px;
    width: 700px;
    max-width: 700px;
    outline: none;
    margin: 10px;
}
.spanPesquisar:hover {
    border: 1px solid lightgray;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: var(--fonte-destaque);
    margin-top: 10px;
    padding: 0 10px 0 35px;;
}
nav > a {
    display: inline-block;
    color: var(--letter-nav);
    padding: 6px 12px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 3px;
}
nav > a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.divisor {
    color: var(--back-nav-selected1);
    font-size: 0.7rem;
    margin-top: 10px;
}
nav.on{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    width: 100%;
    color: var(--back-nav-selected1);
    background-color: var(--back-nav-selected2);
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 3;
    padding: 20px 0;
    overflow: hidden;
    transition: 0.5s;
}
/* #pesquisa{
    display: flex;
    /* position: sticky; *
    top: 150px;
    flex-direction: row;
    width: 80%;
    /* left: 50%;
    transform: translate(-50%);  *
    margin: auto;
    justify-content: center; 
    align-items: center;
    height: auto;
    background-color: #196fd2;
} */
#btnPesquisar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    padding: 7px 10px;
    margin-top: 10px;
    margin-right: 7px;
}
#btnPesquisar:hover{
    background-color: #60c2797a;
}
#txt_btnPesquisar{
    font-size: 1.5rem; 
    font-weight: 500; 
    margin-right: 7px;
}
#top-bar1,
#top-bar2,
#top-bar3{
    display: flex;
    flex-direction: row;  
    position: sticky;
    justify-content: space-around;
    align-items: center;
    top: 60px;
    margin: auto;
    width: 100%;
    background-color:lightgray;
    z-index: 2;
}
#top-bar1{
    padding: .6% 28%;
}
#top-bar1 > span{
    font-size: 14px;
}
#top-bar2{
    padding: 0px 2%;
}
#top-bar3{
    padding: 7px 0px;
}
#top-bar1.fixed,
#top-bar2.fixed,
#top-bar3.fixed{  
    position: fixed;
    z-index: 2;
}
#locais_de_atendimento,
#outras_duvidas{
    font-family: var(--fonte-padrao);
    font-size: 1.5rem;
    background-color: whitesmoke;
    padding: 7px;
    border: 1px solid rgba(128, 128, 128, 0.616);
    border-radius: 3px;
}
#locais_de_atendimento:hover,
#outras_duvidas:hover{
    background-color: #cae2fe;
    cursor: pointer;
}
#top-bar1 a{
    color: black;
    text-decoration: none;
} 
#fechar_aba{
    font-size: 3rem;
}
#fechar_aba:hover{
    cursor: pointer;
}
#seletores > ul {
    list-style-type: none;
    margin-right: 0px;
}
#seletores > ul > li {
    padding: 20px 20px;
    border: 1px solid rgba(128, 128, 128, 0.616);
}
.wrapper{
    display: inline-block;
    width: 180px;
    border: 1px solid rgba(128, 128, 128, 0.616);
    border-radius: 3px;
}
.wrapper span{
    font-family: var(--fonte-destaque);
    font-size: 1.5rem;
}
.select-btn, .options li{
    display: flex;
    cursor: pointer;
    align-items: center;
    z-index: 100;
}
.select-btn{
    height: 30px;
    font-size: 1.5rem;
    padding: 0 0 0 7px;
    border-radius: 2.5px;
    background: whitesmoke;
    justify-content: space-between;
}
.select-btn span{
    left: 7px;
}
.select-btn i{
    font-size: 3.1rem;
    transition: transform 0.3s linear;
}
.wrapper.active .select-btn i{
    transform: rotate(-180deg);
}
.content{
    display: none;
    padding: 2px;
    margin-top: 0px;
    border-radius: 5px;
    background: var(--back-nav);
}
.wrapper.active .content{
    display: block;
}
.content .search{
    position: relative;
}
.search i{
    left: 15px;
    color: #999;
    font-size: 2rem;
    line-height: 3rem;
    position: absolute;
}
.search input{
    height: 30px;
    width: 100%;
    outline: none;
    font-size: 1.7rem;
    border-radius: 5px;
    padding: 0 15px 0 43px;
    border: 1px solid #b3b3b3;
}
.content .options{
    margin-top: 10px;
    max-height: 100px;
    overflow-y: auto;
    padding-right: 7px;
}
.options::-webkit-scrollbar{
    width: 7px;
}
.options::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;;
}
.options li{
    height: 25px;
    padding: 0 70px;
    font-size: 1.5rem;
    border-radius: 5px;
}
.options li:hover, li.selected{
    background: var(--division-line);
}
.voltar{
    background-color: transparent;
    border: none;
    padding: 0 5px;
    margin: 0px 10px;
}
.voltar:hover{
    cursor: pointer;
    background-color:rgb(190, 188, 188);
}
#btnProcurar {
    background-color: #BBD9FB;
    border: 1px solid var(--c-blue);
    border-radius: 5px;
    padding: 2px 3px 0px 3px;
    margin: 10px 25px 10px 10px;
    cursor: pointer;
    box-shadow: 1px 1px 10px 0px lightgray;
}
#btnProcurar:hover{
    cursor:pointer;
    background-color: #88bfff;
}
#icon_lupa{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: black;                
}
footer {
    position: relative;  
    bottom: 0;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    width:100%;
    background-color: var(--back-header1);
    border-top: 1px solid #06411950;
    color: #000000;
    padding: 10px;
    margin-top: auto;
    margin-bottom: 0px;
}
@media (max-width: 2560px){
    .header_content{
        max-width: 1500px;
    }
    #login_box{
        margin-right: 0;
    }
    #footer_content{
        max-width: 1500px;
        margin: auto;
    }
}
@media (max-width: 1440px){
    main{
        width: 100%;
    }
    .header_content,
    .footer_content{
        max-width: 1400px;
    }
}
@media (max-width: 1024px){
    #txt_btnPesquisar, nav > a, #name-account, .content_account{
        font-size: 1.05rem;
    }
    #titulo{
        font-size: 2rem;
    }
}
@media (max-width:768px){
    .header_content,
    .footer_content{
        max-width: 700px;
    }
    #top-bar1, #top-bar1.fixed{
        padding: .6% 8%;
        z-index: 1;
    }
    .divisor{
        display: none;
    }
    nav {
        display: none;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
        width: 100%;
        color: var(--back-nav-selected1);
        background-color: #d6f1e0;
        position: fixed;
        top: 50px;
        right: 0;
        z-index: 3;
        padding: 20px 0;
        overflow: hidden;
        transition: 0.5s;
        box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.25);
    }
    nav a{
        margin: 5px 0;
        font-size: 1.6rem;
    }
    #menu_icon{
        display: block;
        color: var(--back-nav-selected1);
        margin-left: 10px;
    }
    .login_box, .login_box2, .content_account{
        display: none;
    }
    #account_circle1{
        display: none;
    }
    #account_circle2{
        display: inline-block;
    }
    #btnPesquisar{
        margin: 0;
    }
    #name-account{
        display: none;
    } 
    .c-orange,
    .c-yellow,
    .c-green,
    .c-blue {
    height: 25px;
    width: 25px;
    }
    #btnPesquisar > p{
        display: none;
    }
}