@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --letter-logotype: #2A8C4A;
    /*--letter-nav: #064119;*/
    --letter-nav: #042a10;
    --back-header1: #9BFAB0;
    --back-header2: #F0F0F0;

    --division-line: #64C27B;
    --back-nav1: #64C27B;
    --back-nav-selected1: #2A8C4A;
    --back-nav2: #D0FDD7;
    --back-nav-selected2: #76b88ccf;
    --back-nav3: #76B88C;
    --black: #000000;
    --color3: #024053;
    --c-orange: #fda035;
    --c-yellow: #FBFE2D;
    --c-green: #6EFF57;
    --c-blue: #577CFF;
    --clr:#9BFAB0;
    --clr2:#64C27B;
    --clr3:#2A8C4A;

    --fonte-padrao: 'Inter', sans-serif;
    --fonte-destaque: 'Open sans', sans-serif;
    --fonte-titulo: 'Oleo script', sans-serif; 
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
    /* font-family:Josefin Sans; */
}
html{
    height: 100%;
}
body{
    background-color: #ededed;
    min-height: 100vh;
}
main{
    position: relative;
    top: 0px;
    bottom: 0px;
    padding-top: 20px;
    padding-bottom: 100px;
    width: 90%;
    margin: auto;
}
main > h1{
    font-size: 20px;
    margin: 10px 5% 20px 5%;
    /* border-top: 1px solid rgba(128, 128, 128, 0.496);
    border-bottom: 1px solid rgba(128, 128, 128, 0.496); */
    padding: 5px 10%;
    font-weight: bold;
    color: var(--color3);
    background-color: rgba(70, 131, 180, 0.25);
    border-radius: 2.5px;
}
img{
    margin:0;
}

.bar ol{
    list-style-type: none;
    /*padding: 15px;*/
    margin:0;
    color: #000;
}

.bar_element{
    display: inline-block;
    margin-left:50px;
    margin-right:50px;
    /*background-color:red;*/
    padding:15px;
}

.bar_element a{
    color: #000;
    text-decoration:none;
    transition: 0.3s;
    text-transform: uppercase;
}

.bar_element a:hover{
    /*text-decoration:underline;*/
    color: #fff;
}

.bar_element_active{
    background-color:#71fdb5;
    display:inline-block;
    margin-left:50px;
    margin-right:50px;
    flex-shrink:0;
    /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
    padding:15px;
    text-transform:uppercase;
    box-shadow: 2px 3px 0px 0px rgba(0, 0, 255, .2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*UNDERLINE HOVER.bar_element a {
    color: #000;
    text-decoration: none;
    position: relative; Adicione esta linha
}

.bar_element a::after { Adicione esta regra para simular o sublinhado
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px; /* Altura do sublinhado 
    background-color: #000; /* Cor do sublinhado 
    transition: width 0.5s; /* Duração da transição para expandir o sublinhado
    opacity: 0; /* Comece com opacidade zero (oculto)
}

.bar_element a:hover::after {
    width: 100%; /* Expande o sublinhado quando o mouse passa por cima
    opacity: 1; /* Torna o sublinhado visível
}*/

/*#input-pesquisa{
    border:none;
    border-radius:40px;
    /*height: 40px;
    width: 700px;
    text-align:center;
    text-transform:uppercase;
    /*position:relative;
    top:-170px;
    left:350px;
    /*position:absolute;
    position:absolute;
    top: 6%;
    left: 25%;
    width: 50%;
    height: 5%;
    /*padding:5px;
    box-shadow: 2px 3px 0px 0px /*#9e9e9ergba(0, 0, 255, .2);
}*/

#input-pesquisa{
    border:none;
    border-radius:40px;
    text-align:center;
    text-transform:uppercase;
    /*position:absolute;*/
    top: 6%;
    left: 25%;
    width: 700px;
    height: 30px;
    box-shadow: 2px 3px 0px 0px /*#9e9e9e*/rgba(0, 0, 255, .2);
}

.nome-hospital{
    font-weight:bold;
    text-transform:uppercase;
    margin:0;
}

.endereco-hospital{
    color: #b0b0b0;
    margin:0;
}

footer{
    /* background-color:#71fdb5;
    display:block;
    margin:-8px;
    text-align:center;
    padding:200px; */
    position: relative;  
    bottom: 0;
    justify-content: left;
    font-size: 13px;
    font-weight: bold;
    width:100%;
    background-color: var(--back-header1);
    border-top: 1px solid #06411950;
    color: #000000;
    padding: 10px 10px 10px 70px;
    align-content: right;
    margin-top: auto;
    margin-bottom: 0px;
}

.outer-flex-container{
	display: flex;
    flex-direction: row;
    background-color: whitesmoke;/*pink? qual cor tava no meu w3schools tryit*/
    /*align-items:center;*/
    /* margin-left:50px;
    margin-right:50px; */
    margin: auto;
    border: 1px solid lightgray;
    border-radius:20px;
    /* box-shadow: 2px 3px 0px 0px /*#9e9e9e*rgba(0, 0, 255, .2); */
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin-bottom: 70px;
    /* box-shadow: 1px 1px 10px 0px rgb(194, 194, 194); */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.inner-flex-container{
    position: relative;
	display:flex;
    flex-direction:row;
    background-color:whitesmoke; 
    margin: 20px;  /*espaço entre os inner-flex-containers (blocos verticais)*/
    align-items:center;
    /* border-style: solid; */
    /* border-width: 0px 0px 2px 0px;ONDE TA A COR DESSA BORDA */
    /* border-color:#bab; */
    width: 60%;
    justify-content: flex-start;
    padding-right: 20px;
    
}
#gerais{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-left: 30px;
}
#gerais > h3{
    font-family: var(--fonte-destaque);
    margin-top: 12px;
    margin-bottom: 2px;
    font-size: 18px;
}
#endereco,
#cep{
    font-family: var(--fonte-destaque);
    font-size: 20px;
}
#cep{
    margin-bottom: 12px;
}

.informacoes{
	display: flex;
    flex-direction:row;
    background-color:white;/*blue*/
    /* margin:10px;espaço entre os inner-flex-containers (blocos verticais) */
    align-items:center;
    /* border-style: solid;
    border-color:#bab; */
    margin: auto;
    background-color: whitesmoke;
    
}

/* .inner-flex-item{
	margin:10px;/*espaço entre os inner-flex-items (blocos horizontais)*
    background-color:white;/*
} */
.tempos_de_espera{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
	margin:10px;/*espaço entre os inner-flex-items (blocos horizontais)*/
    background-color: whitesmoke;/**/
    /* height: 200px; */
}
.tempos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65px;
    margin: 0 7px;
    /* height: 200px; */
}
.tempos span{
    font-family: var(--fonte-padrao);
    font-size: 18px;
}
.circles{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    min-width: 220px;
    max-width: 260px;
}
.c-orange,
.c-yellow,
.c-green,
.c-blue {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid gray;
    box-shadow: 1px 1px 10px 0px lightgray;
} 
.c-orange {
    background-color: var(--c-orange);
}
.c-yellow {
    background-color: var(--c-yellow);
}
.c-green {
    background-color: var(--c-green);
}
.c-blue {
    background-color: var(--c-blue);
}
.checked{
    color:orange;
}

/*.owl-item{
    background-color: white;
    height:400px;
    margin:50px;
    border-radius:30px;
    box-shadow: 2px 3px 0px 0px rgba(0, 0, 255, .2);
    padding:30px;
}*/

.item{
    text-align: justify;
    background-color:whitesmoke;
    padding: 15px 25px;
    border-radius:30px;
    /* box-shadow: 2px 5px 5px 2px rgba(0, 0, 255, .2); */
    border: 1px solid lightgray;
    /* box-shadow: 1px 1px 10px 0px rgb(194, 194, 194); */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom:10px;
    /*margin-left:50px;
    margin-right:50px;
    height:400px;
    width:300px;*/
    /*margin-left:50px;
    margin-right:50px;
    width:200px;*/
    /* margin-left:50px;
    margin-right:50px; */
    margin: auto;
    width:350px;/*ACHO QUE O PROBLEMA TAVA AQUI, NA DIFERENÇA ENTRE ESSES 2, TENTAR COM O OUTRO SCRIPT DEPOIS, TO USANDO O CENTER MAS ERA O PRIMEIRO DAS DEMOS DO OWL CAROUSEL, O BASIC*/
    height: 300px;
}

.owl-carousel{
    /* margin: 10px 10%; */
    margin-bottom:10px;
}

.logo a:link{
    color: #2A8C4A;
    font-family: Oleo Script;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /*padding:0;
    flex-shrink:0;
    margin: -30px 0px -30px -30px;*/
    margin-top:0;
    margin-bottom:0;
    text-decoration:none;
}

.logo a:visited{
    color: #2A8C4A;
    text-decoration:none;
    font-family: Josefin Sans;
}

/* #header_container{
    /*background-color:pink;*
    margin-top:-50px;
    margin-bottom:-50px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    margin-left:-50px;
    margin-right:-50px;
} */

/* .header_container_item{
    /*background-color:white;blue*
    margin:0px 10px 0px 10px;
    align-self:center;
}

#header_button{
    background-color:#ede;
    border:none;
    border-radius:50px;
    color:black;
    text-transform:uppercase;
    padding:10px;
    display:flex;/**
    justify-content:center;
    align-items:center;
    font-family: Josefin Sans;
    box-shadow: 2px 3px 0px 0px /*#9e9e9e*rgba(0, 0, 255, .2);
} */

/* #faq-container{
    background-color: white;
    box-shadow: 2px 3px 0px 0px /*#9e9e9e*rgba(0, 0, 255, .2);
    margin-left:50px;
    margin-right:50px;
    border-radius:30px;
    padding:30px;
    margin-top:50px;
} */

div.c{
    position: relative;
    margin:2em;
}

input{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity:0;
    visibility: 0;
}

/*problema acima*/

h1{
    background:steelblue;
    color:white;
    padding:1em;
    position: relative;
}
/*daqui pra baixo parei de prestar mt atenção*/
label::before{
    content:"";
    display: inline-block;
    border: 15px solid transparent;
    border-left:20px solid white;
  }

  label{
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
  }

  div.p{
    max-height:0px;
    overflow: hidden;
    transition:max-height 0.5s;
    background-color: white;
    box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
  div.p p {
    padding:2em;
  }

  input:checked ~ h1 label::before{
    border-left:15px solid transparent;
    border-top:20px solid white;
    margin-top:12px;
    margin-right:10px;
  }

  input:checked ~ h1 ~ div.p{
    max-height:100px;
  }
  a{
    color:steelblue;
  }