:root{
    --clrblue: #1D7ff1;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container_pre-triagem{
    padding: 100px 100px 100px 100px;
    display: flex;
}

.div1, .div2{
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
}

.div1{
    border: 1px solid var(--clrblue);
    margin-right: 50px;
}

.div2{
    border: 1px solid red;
}

.pergunta_idade{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    font-size: 25px;
    color: black;
}
.titule_pre-triagem{
    color: var(--clrblue);
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.phrase_pre-triagem{
    color: #757272;
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
    font-size: 17px;
    font-weight: 200;
    margin-bottom: 20px;
}
.btn_preTriagem{
    position: relative;
    left: 180px;
    top: 30px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--clrblue);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.btn_preTriagem:hover{
    background-color: #023D83;
    box-shadow: none;
}
