*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --clr:#9BFAB0;
    --clr2:#64C27B;
    --clr3:#2A8C4A;
}
.header_container{ /*editar a forma/estrutura do container */
    display: flex;
    background-color: #9BFAB0;
    height: 10vh;
}
.titulo{
    display: inline-block;
    font-family: oleo script;
    text-decoration: none;
    color: var(--clr3);
    margin-left: 120px;
    margin-top: 3px;
}
nav{
    background-color: var(--clr2);
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
nav > a{
    color: var(--clr3);
    text-decoration: none;
    font-size:clamp(1em,1em+1vh,1.5em);;
    margin: 0.5rem;
}
nav > a:hover{
    text-decoration: underline;
    color: black;
}
.login_box{
    position: relative;
    width: 100px;
    height: 6vh;
    border: 0px;
    border-radius: 20px;
    font-size: 10px;
    margin-left: 50px;
}
.buscador{
    border: none;
    border-radius: 20px;
    width: 700px;
    height: 6vh;
    font-size: 10px;
    margin-left: 50px;
    text-indent: 30px;
}
