@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --letter-logotype: #2A8C4A;
    /*--letter-nav: #064119;*/
    --letter-nav: #042a10;
    --back-header1: #9BFAB0;
    --back-header2: #F0F0F0;

    --division-line: #64C27B;
    --back-nav1: #64C27B;
    --back-nav-selected1: #2A8C4A;
    --back-nav2: #D0FDD7;
    --back-nav-selected2: #76b88ccf;
    --back-nav3: #76B88C;
    --black: #000000;
    --color3: #024053;
    --c-orange: #fda035;
    --c-yellow: #FBFE2D;
    --c-green: #6EFF57;
    --c-blue: #577CFF;
    --clr:#9BFAB0;
    --clr2:#64C27B;
    --clr3:#2A8C4A;

    --fonte-padrao: 'Inter', sans-serif;
    --fonte-destaque: 'Open sans', sans-serif;
    --fonte-titulo: 'Oleo script', sans-serif; 
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}
html{
    height: 100%;
}
body{
    background-color: #ededed;
    min-height: 100vh;
}
main{
    position: relative;
    /* height: 500px; */
    background-color: whitesmoke;
    /* background: white; */
    /* border-radius: 40px; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
    top: 0px;
    min-width: 300px;
    max-width: 900px;
    padding: 50px 50px 100px 50px;
}
article{
    margin-bottom: 50px;
}
/* main > span > article > */h1{
    font-family: var(--fonte-padrao);
    font-size: 20px;
    /* width: 490px; */
    margin-bottom: 20px;
    color: #000;
    /* font-family: Montserrat; */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    /* top: 20px; */
}
main > span > article > p{
    font-family: var(--fonte-padrao);
    color: #000;
    text-align: justify;
    /* font-family: Montserrat; */
    font-size: clamp(1em,1em+1vh,1.5em);
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    position:relative;
    text-indent: 30px;
    margin-bottom: 10px;
    letter-spacing: .3px;
}
/* @media screen and(max-width:500px){
} */