@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --clr:#1D7FF1;
    --clr2: #002653;
} 
body{
    background-color: rgba(0, 0, 0, 0.285);
}
.modal_box_notification{
    position: fixed;
    place-content: center;
    width: 100vw;
    height: 100vh;
    display: grid;
}
.modal_notification{
background-color: white;
padding: 20px;
border-radius: 10px;
width: 400px;
height: 320px;
}
.modal_title{
    text-align: center;
    font-size: 20px;
    font-family: Josefin Sans;
    margin-top: 20px;
}
.modal_phrase{
    align-items: center;
    font-family: Josefin Sans;
    margin-top: 10px;
    padding: 20px;
    position: relative;
    top: 10px;
}
.modal_button{
    position: relative;
    top: 20px;
    margin-top: 10px;
    margin-left:20px;
    font-size: 17px;
    font-family: Josefin Sans;
    background-color: var(--clr);
    padding: 10px;
    width: 320px;
    height: 35px;
    border-radius: 5px;
    color: white;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.modal_button:hover{
    background-color: #002653;
}
.modal_icon_back{
    width: 20px;
}
