<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedConnect</title>
    <link rel="stylesheet" href="adulto1.css">
    <style>
        body{
            background-color: #ededed;
        }
    </style>
</head>
<body>
    <div class="container_adulto1">
        <h1 class="titule_adulto1">QUESTIONÁRIO DE PRÉ-TRIAGEM</h1>
        <strong>  
        <h2 style="margin-bottom:20px">selecione os seguintes sintomas do paciente</h2>
        </strong>
            <input class="checkbox_adulto1" type="checkbox">
        
        <h3 class="subtitule_adulto1">O paciente apresenta dor leve?</h3>
                <p class="phrase_adulto1">A dor leve possui intensidade fraca e é descrita como leve ou irritante. Possui duração curta, podendo durar minutos ou horas. Causa um impacto mínimo na vida diária, não dificultando as atividades cotidianas.</p>
        <input class="checkbox_adulto1" type="checkbox" name="" id="">
        
        <h3 class="subtitule_adulto1">O paciente apresenta vômitos?</h3>
        
            <p class="phrase_adulto1">O paciente está apresentando quadros de vômitos e náuseas.</p>
        <input class="checkbox_adulto1" type="checkbox" name="" id="">
        
        <h3 class="subtitule_adulto1">O paciente apresenta febre?</h3>
        
            <p class="phrase_adulto1">A febre é definida como uma temperatura corporal entre 37,0 e 38,9 graus Celsius.</p>
            <br>
    <input class="btn_adulto1_voltar" type="button" value="voltar">
    
    <input class="btn_adulto1_continuar" type="button" value="continuar">
    </div>
</body>
</html>
    <!-- CODIGO INACABADO -->