<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedConnect</title>
    <link rel="stylesheet" href="adulto1.css">
    <style>
        body{
            background-color: #ededed;
        }
    </style>
</head>
<body>
    <div class="container_adulto1">
        <h1 class="titule_adulto1">QUESTIONÁRIO DE PRÉ-TRIAGEM</h1>
        <strong>  
        <h2 style="margin-bottom:20px">selecione os seguintes sintomas do paciente</h2>
        </strong>
            <input class="checkbox_adulto1" type="checkbox">
        
        <h3 class="subtitule_adulto1">O paciente apresenta dor severa?</h3>
                <p class="phrase_adulto1">A dor é descrita como muito forte ou insuportável, pode durar horas ou dias e pode durar horas ou dias. a dor pode piorar outros sintomas, como náusea, vômito ou insônia.</p>
        <input class="checkbox_adulto1" type="checkbox" name="" id="">
        
        <h3 class="subtitule_adulto1">O paciente está com hemorragia incontrolável?</h3>
        
            <p class="phrase_adulto1">Não é controlada pela aplicação de pressão direta constante e continua a sangrar abundantemente, ensopando rapidamente compressas. Pode ser observada como sangue escorrendo de uma ferida, vômito de sangue, sangue nas fezes ou urina, ou sangue na tosse. Pode apresentar palidez, sudorese, taquicardia, hipotensão e confusão ou perda de consciência</p>
        <input class="checkbox_adulto1" type="checkbox" name="" id="">
        
        <h3 class="subtitule_adulto1">O paciente está com alteração do nível de consciência??</h3>
        
            <p class="phrase_adulto1">Pode ser causada por lesões cerebrais, infecções, doenças metabólica, medicamentos ou drogas, condições psiquiátricas, dentre outras. Os sintomas leves podem incluir: Sonolência, Dificuldade de concentração, Perda de memória recente. Os sintomas mais graves podem incluir: Letargia, Obnubilação, Torpor e Coma.</p>
            <br>
    <input class="btn_adulto1_voltar" type="button" value="voltar">
    
    <input class="btn_adulto1_continuar" type="button" value="continuar">
    </div>
</body>
</html>