<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="adulto1.css">
    <title>MedConnect</title>
    <style>
        body{
            background-color: #ededed;
        }
    </style>
</head>
<body>
    <div class="container_adulto1">
        <h1 class="titule_adulto1">RESULTADO DA PRE-TRIAGEM</h1>
        <hr>
        <img src="MIDIA/IMG/urgencia.png" alt="imagem de emergencia">
        <p class="phrase_adulto1">
            Prezado usuário,<br>
Sua pré-triagem foi classificada como "Amarela", indicando uma condição que requer atenção, mas não é considerada uma emergência imediata. <br><br> Os serviços médicos estarão preparados para fornecer atendimento em um prazo razoável. O tempo de espera pode variar, mas os profissionais de saúde estarão dedicados a avaliar e tratar sua condição. 
Recomendamos que se dirija ao hospital indicado para receber assistência dentro do prazo estabelecido. <br><br>
Lembramos que o tempo de espera pode ser influenciado por fatores como a demanda do hospital e a gravidade das condições de outros pacientes. Caso sua condição se agrave ou tenha dúvidas, não hesite em buscar ajuda imediatamente.
            Caso sua condição se agrave ou tenha dúvidas, não hesite em buscar ajuda imediatamente.</p>
        <input class="btn_adulto1_continuar" type="button" value="voltar ao inicio">
    </div>
</body>
</html>