<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página - Avaliar hospital</title>
    <link rel="shortcut icon" href="../img/favicon_io/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="estilo/avaliarhospital.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 10,
            'wght' 200,
            'GRAD' 0,
            'opsz' 36;
            z-index: 1;
            font-size: 36px;
            color: gray;
            font-family: 'Material Symbols Outlined';
        }      
    </style>
</head>
<body>
        <!-- MENU SUPERIOR -->
        <header>
            <div id="logotipo">
                <img id="icone" src="../img/estetoscopio32px.png" alt="MedConnect logo." />
                <h2 id="titulo">MedConnect</h2>
            </div>
            <span id="spanPesquisar">
                <img src="../img/botao-lupa-pesquisa20px.png" alt="ìcone de pesquisa (lupa)."/>
                <input type="text" id="txtPesquisar" placeholder="PESQUISAR..."/>
            </span>
                <!-- <a href="FazerLogin.html"> -->
            <button type="button" class="login_box">
                <span style="font-size: 11px;">JOSEFO ALENCAR</span>
                <span class="material-symbols-outlined">account_circle</span>
            </button>
                <!--</a>-->
                    
            <div class="content_account">
                <button><p style="font-size: 11px; padding: 9px 0;">MEUS DADOS</p></button>
                <button><p style="font-size: 11px; padding: 9px 0;">MINHAS AVALIAÇÕES</p></button>
                <button style="border-radius: 0px 0px 20px 20px;"><p style="font-size: 11px; padding: 9px 0;">SAIR DO PERFIL</p></button>
            </div>
    
            <nav>         
                <a href="index.html" rel="prev" target="_self">INÍCIO</a>
                <span class="divisor">|</span>
                <a href="locais_de_atendimento.html" target="_self">LOCAIS DE ATENDIMENTO</a>
                <span class="divisor">|</span>
                <a href="area_do_paciente.html" target="_self">PRÉ-TRIAGEM</a>
                <!--<a href="area_do_colaborador.html" target="_self">ÁREA DO COLABORADOR</a>-->
                <span class="divisor">|</span>
                <a href="duvidas_frequentes.html" target="_self">DÚVIDAS FREQUENTES</a>
                <!-- 'target="_self"': continua na mesma aba. --> 
            </nav>
        </header>
    <main>
        <i class="uil uil-angle-down"></i>
        <h1><strong>AVALIAR LOCAL</strong></h1>
        <hr/>
        <div id="inf_gerais">
            <div class="nome_local">
                <h3><strong>HOSPITAL 1</strong></h3>
                <span><small>Qs 115, Avenida dos Pinheiros.</small></span> <span><small>CEP: 11-111.111</small></span>
                <div id="container_contato">
                    <span><small>Contato:</small></span> 
                    <div id="contato">
                        <span><small>telefone</small></span>
                        <span><small>e-mail</small></span>
                    </div>
                </div>
            </div>
            <br/>
            <div class="tempos_de_espera">
                <div class="tempos">
                    <span class="c-orange"></span>
                    <span>x min</span>
                </div>
                <div class="tempos">
                    <span class="c-yellow"></span>
                    <span>x min</span>
                </div>   
                <div class="tempos">   
                    <span class="c-green"></span>
                    <span>x min</span>
                </div>
                <div class="tempos">  
                    <span class="c-blue"></span> 
                    <span>x min</span>  
                </div>     
            </div>
        </div>
        <!--<span class="gerais">Avaliações:</span>-->
        <hr/>
        <!--<p style="margin-top: 10px"><strong>VOCÊ ESTÁ AVALIANDO [NOME DO LOCAL].</strong></p>-->
        <br/>
    <div id="container">
        <div class="question">
            <span>• VOCÊ RECEBEU ATENDIMENTO NA UNIDADE?</span>
            <span class="respostas">
                <button class="sim">SIM</button>
                <button class="nao">NÃO</button>
            </span>
        </div>
        <div class="question">
            <span>• QUAL FOI A CLASSIFICAÇÃO DE RISCO RECEBIDA?</span>
            <div id="class_de_risco">
                <div class="risco">
                    <input type="radio" id="red" name="risco" value="Emergente" style="height:35px; width:35px; vertical-align: middle; accent-color: red;">
                    <label for="red" title="text" style="font-weight: 400;">Emergente</label>
                </div>
                <div class="risco">
                    <input type="radio" id="orange" name="risco" value="Muito_urgente" style="height:35px; width:35px; vertical-align: middle; accent-color: orange;">
                    <label for="orange" title="text" style="font-weight: 400;">Muito urgente</label>
                </div>
                <div class="risco">
                    <input type="radio" id="yellow" name="risco" value="Urgente" style="height:35px; width:35px; vertical-align: middle; accent-color: yellow;">
                    <label for="yellow" title="text" style="font-weight: 400;">Urgente</label>
                </div>   
                <div class="risco">   
                    <input type="radio" id="green" name="risco" value="Pouco_urgente" style="height:35px; width:35px; vertical-align: middle; accent-color: green;">
                    <label for="green" title="text" style="font-weight: 400;">Pouco urgente</label>
                </div>
                <div class="risco">  
                    <input type="radio" id="blue" name="risco" value="Nao_urgente" style="height:35px; width:35px; vertical-align: middle; accent-color: blue;">
                    <label for="blue" title="text" style="font-weight: 400;">Não urgente</label>  
                </div>     
            </div>
        </div>
        <br/><br/> 
        <div class="input1">
            <span>• EM QUAL DIA E HORÁRIO VOCÊ CHEGOU AO LOCAL?</span>
            <span>
                <input id="horario-entrada" type="datetime-local">
            </span>
        </div>
        <br/><br/>
        <div class="input1">
            <span>• EM QUAL DIA E HORÁRIO RECEBEU ATENDIMENTO?</span>
            <span>
                <input id="horario-atendimento"type="datetime-local">
            </span>
        </div>
        <br/><br/>
        <div class="input1" style="width: 530px;">
            <span>• QUAL FOI O DIA E O HORÁRIO DE SAÍDA?</span>
            <span>
                <input id="horario-saida"type="datetime-local">
            </span>
        </div>
        <br/><br/> 
        <div class="question">
            <span>• COMO VOCÊ AVALIA O ATENDIMENTO RECEBIDO?</span>
            <div id="stars">
            <div class="avaliacao">
                <input type="radio" id="star5" name="avaliacao" value="5"/>
                <label for="star5" title="text">5 estrelas</label>
                <input type="radio" id="star4" name="avaliacao" value="4" />
                <label for="star4" title="text">4 estrelas</label>
                <input type="radio" id="star3" name="avaliacao" value="3" />
                <label for="star3" title="text">3 estrelas</label>
                <input type="radio" id="star2" name="avaliacao" value="2" />
                <label for="star2" title="text">2 estrelas</label>
                <input type="radio" id="star1" name="avaliacao" value="1" />
                <label for="star1" title="text">1 estrela</label>
            </div>
            </div>
        </div>
        <br/><br/>
        <div class="question"></div>
            <span style="font-weight: 500;">• VOCÊ TEM MAIS ALGUMA OBSERVAÇÃO SOBRE O ATENDIMENTO RECEBIDO?</span>
            <br/> 
            <input id="observacao" type="text">
        </div>
        <br/><hr/><br/>
        <button id="enviar">ENVIAR</button>
    </div>
    </main>
        <script type="text/javascript" src="js/script-login-box.js"></script> 
    <footer>
        <p>MedConnect, c2023.</p>
        <p>Site criado por feudo 9 - "Verde Pântano".</p>
    </footer>
</body>
</html>