<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="adulto1.css">
    <title>MedConnect</title>
    <style>
        body{
            background-color: #ededed;
        }
    </style>
</head>
<body>
    <div class="container_adulto1">
        <h1 class="titule_adulto1">RESULTADO DA PRE-TRIAGEM</h1>
        <hr>
        <img src="MIDIA/IMG/naoUrgencia.png" alt="imagem de emergencia">
        <p class="phrase_adulto1">
            Prezado usuário,<br>

Sua pré-triagem foi classificada como "Azul", indicando uma situação não urgente. O atendimento para casos dessa natureza é frequentemente programado para garantir uma abordagem completa e adequada. <br><br>O tempo de espera pode variar, e recomendamos que entre em contato com a unidade de saúde indicada para agendar uma consulta. <br><br> Embora sua condição não seja de urgência, é essencial cuidar de sua saúde e buscar orientação profissional.

<br><br>Lembramos que o tempo de espera pode ser influenciado por fatores como a demanda do hospital e a gravidade das condições de outros pacientes. Caso sua condição se agrave ou tenha dúvidas, não hesite em buscar ajuda imediatamente.</p>
        <input class="btn_adulto1_continuar" type="button" value="voltar ao inicio">
    </div>
</body>
</html>