<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>modal</title>
        <link rel="stylesheet" href="ConfirmaEmail.css"> <!--reciclei ocodigo do esqueci minha senha-->
    </head>
    <body>
        <div class="modal_box_notification">
            <div class="modal_notification">
                <a href="esqueciSenha.html"><img class="modal_icon_back" src="MIDIA/IMG/voltar (1).png" alt="icone voltar"></a>
                
                <h1 class="modal_title">Confirmar email</h1>
                <p class="modal_phrase">
                    Enviamos um email para:<ins> xispirito@gmail.com </ins><BR></BR>Visite a caixa de entrada do seu email para confirmar a conta
                </p>
                <input class="modal_button" type="button" value="Voltar para o inicio">
            </div>
        </div>
    </body>
</html>
