<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedConnect</title>
    <link rel="stylesheet" href="adulto1.css">
    <style>
        body{
            background-color: #ededed;
        }
    </style>
</head>
<body>
    <div class="container_adulto1">
        <h1 class="titule_adulto1">QUESTIONÁRIO DE PRÉ-TRIAGEM</h1>
        <strong>  
        <h2 style="margin-bottom:20px">selecione os seguintes sintomas do paciente</h2>
        </strong>
            <input class="checkbox_adulto1" type="checkbox">
                <h3 class="subtitule_adulto1">O paciente está com comprometimento da via aérea?</h3>
                <p class="phrase_adulto1">Pode ser causa por como um corpo estranho, edema ou infecção;
                Paralisia dos músculos da respiração; Trauma ou lesão;
                Inflamação ou edema das vias aéreas; Doenças neuromusculares.</p>
        <input class="checkbox_adulto1" type="checkbox" name="" id="">
        <h3 class="subtitule_adulto1">O paciente está com respiração ineficaz?</h3>
        
        <p class="phrase_adulto1">Apresenta sensação de dificuldade para respirar; Respiração rápida e superficial;
            Respiração lenta e profunda; ausência de respiração; Respiração rápida e profunda;
            uso de músculos que não são usados normalmente na respiração, como os músculos do pescoço, ombros e costas;
            Ruídos anormais na respiração, como sibilância, ronco ou crepitação.</p>
        <input class="checkbox_adulto1" type="checkbox" name="" id="">
        <h3 class="subtitule_adulto1">O paciente está em choque?</h3>
        
        <p class="phrase_adulto1">O paciente pode parecer confuso, desorientado ou simplesmente não estar respondendo.
            Pele fria, pálida ou úmida: a pele do paciente pode estar fria ao toque, pálida ou úmida.
            Taquicardia: a frequência cardíaca do paciente pode estar acima de 100 batimentos por minuto.
            Hipotensão: a pressão arterial do paciente pode estar baixa. Respiração rápida e
            superficial: a respiração do paciente pode ser rápida e superficial. Desidratação:
            o paciente pode estar com sede ou apresentar sinais de desidratação, como boca seca, urina concentrada ou diminuição da produção de urina.</p>
        
        <input class="checkbox_adulto1" type="checkbox" name="" id="">
        <h3 class="subtitule_adulto1">O paciente não responde</h3>
        
        <p class="phrase_adulto1">O paciente não responde a estímulos simples, como chamar seu nome, tocar seu ombro ou sacudi-la suavemente.</p>
    <input class="btn_adulto1_voltar" type="button" value="voltar">
    
    <input class="btn_adulto1_continuar" type="button" value="continuar">
    </div>
</body>
</html>