{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dúvidas frequentes | MedConnect</title>
    <link rel="stylesheet" href="{% static "styles/header_e_footer.css"%}">
    <link rel="stylesheet" href="{% static "styles/duvidas_frequentes.css"%}">
    <link rel="stylesheet" href="{% static "styles/FazerLogin.css"%}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 10,
            'wght' 200,
            'GRAD' 0,
            'opsz' 36;
            z-index: 1;
            font-size: 36px;
            color: gray;
            font-family: 'Material Symbols Outlined';
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static "js/select.js" %}"></script>
    <script src="{% static "js/login.js" %}"></script>
    <script src="{% static "js/script_duvidas_frequentes.js"%}"></script>
    <script src="{% static "js/login_popup.js"%}"></script>
</head>
<body>
    <!-- MENU SUPERIOR -->
    {% include "inicial/partials/_login.html" %}
    {% include "inicial/partials/_header.html" %}
    <main>
    <!--aqui começa a página de fato-->
    
    <div id="faq-container">
        <p style="background-color: rgba(70, 131, 180, 0.25); padding: 5px 0; margin-bottom: 15px; border-top: 1px solid lightgray; border-bottom: 1px solid lightgray;">Leia as perguntas mais frequentes sobre os seguintes tópicos:</p>
        <div id="topic_box_container">
            <div id="c1">     
                <h1 id="topic1"><a href="#acesso a informacoes">ACESSO A INFORMAÇÕES</a></h1>
                <ul>
                    <div class="question_answer">
                        <h2 class="question1"><li>Como posso acessar informações sobre o local em que recebo atendimento?</li></h2>
                        <span class="answer1"><p>Na página de pesquisa de locais de atendimento, o botão "+ INFORMAÇÕES" direciona a uma página específica com informações gerais sobre o local selecionado.</p></span>
                    </div>
                    <div class="question_answer">
                        <h2 class="question2"><li>A quais informações tenho acesso?</li></h2>
                        <span class="answer2"><p>Tempo médio de espera para cada grau de urgência - calculado a partir de informações cedidas por usuários do site, endereço (localização), contato, avaliação geral (por usuários do site), especialidades atendidas, profissionais disponíveis por especialidade, planos de saúde atendidos (no caso da rede privada), escala de serviços diária (no caso da rede pública), medicamentos disponíveis (no caso da rede pública).</p></span>   
                    </div>  
                </ul> 
            </div>    
            <div id="c2">
                <h1 id="topic2"><a href="#avaliacao de locais">AVALIAÇÃO DE LOCAIS</a></h1>
                <ul>
                    <div class="question_answer">
                        <h2 class="question1"><li>Como avaliar o local em que recebo atendimento?</li></h2>
                        <span class="answer1"><p>Na página de "+ INFORMAÇÕES" correspondente ao local selecionado, ao acionar o botão "AVALIAR LOCAL", o usuário é redirecionado para uma página de formulário para a avaliação do local.</p></span>
                    </div>
                    <div class="question_answer">
                        <h2 class="question2"><li>Quais são as etapas para a avaliação de um local?</li></h2>
                        <span class="answer2"><p>O usuário deve responder a perguntas objetivas relacionadas ao atendimento e à classificação de urgência recebidos, de modo a contribuir para a estimativa do tempo médio de espera para o atendimento à respectiva classificação. O usuário também pode adicionar comentários a respeito do atendimento recebido.</p></span>
                    </div>
                </ul>
                </label>
            </div>
    
            <div id="c3">
                <h1 id="topic3"><a href="#minha conta">MINHA CONTA</a></h1>
                <ul>
                    <div class="question_answer"> 
                        <h2 class="question1"><li>Como preencher minhas informações pessoais?</li></h2>
                        <span class="answer1"><p>Primeiramente, é preciso cadastrar uma conta pessoal no site. Após entrar em sua conta, o usuário pode preencher e visualizar seu perfil, ou sair de sua conta, ao acionar o botão referente à conta pessoal, localizado no canto superior direito da tela.</p></span>
                    </div>
                    <div class="question_answer"> 
                        <h2 class="question2"><li>Preciso ter uma conta para utilizar o site?</li></h2>
                        <span class="answer2"><p>Não. A procura de locais de atendimento não exige uma conta. Porém, é preciso criar uma conta para preencher o formulário de pré-triagem e para avaliar locais.</p></span>
                    </div>
                </ul>
            </div>

            <div id="c4">
                <h1 id="topic4"><a href="#funcionalidades do site">FUNCIONALIDADES DO SITE</a></h1>
                <!-- </label> -->
                <ul>
                    <div class="question_answer">
                        <h2 class="question1"><li>Quais são as principais funcionalidades do site?</li></h2>
                        <span class="answer1">
                                <p>O site MedConnect disponibiliza uma estimativa para o tempo médio de espera para cada grau de urgência em cada localidade, a partir de informações cedidas pelos próprios usuários (com base em sua experiência no local onde foi atendido).</p> 
                                <p>O site apresenta um sistema de busca eficiente por locais de atendimento, e também dis!ponibiliza informações relevantes acerca de cada local. Outras funcionalidades do site são as opções de avaliar locais e de elencar informações de saúde a fim de agiliar o processo de triagem hospitalar, a partir do preenchimento de formulários.</p>
                        </span>
                    </div>
                    <div class="question_answer">
                        <h2 class="question2"><li>Como navegar?</li></h2>
                        <span class="answer2"><p>É possivel navegar facilmente entre as páginas do site por meio da barra de navegação superior. Outra opção é a procura de páginas do site ou de locais de atendimento através da barra de pesquisa principal, centralizada no topo da tela.</p></span>
                    </div>
                </ul>
            </div>
            <div id="c5">     
                <h1 id="topic5"><a href="#sobre_nos">SOBRE NÓS</a></h1>
                <ul>
                    <div class="question_answer">
                        <h2 class="question1"><li>QUEM SOMOS</li></h2>
                        <span class="answer1">
                            <p>
                                Somos um grupo de estudantes da faculdade do Gama da Universidade de Brasília. O site desenvolvido se trata de um projeto da disciplina "Desenvolvimento de Software", componente curricular do programa de graduação em Engenharia de Software. 
                            </p>
                            <p>
                                Através do desenvolvimento deste site, almejamos apresentar um projeto produtivo e que oferte à sociedade um serviço que agregue na vida cotidiana das pessoas, em relação ao atendimento à saúde.
                            </p>
                        </span>
                    </div>
                    <div class="question_answer">
                        <h2 class="question2"><li>OBJETIVOS DO SITE</li></h2>
                        <span class="answer2">
                            <p>
                                O site MedConnect tem como objetivo principal fornecer informações seguras ao usuário sobre os pontos de atendimento à saúde mais próximos à sua localização, permitindo uma prévia noção das possibilidades de atendimento ao seu caso, de modo a otimizar o planejamento do usuário, no intuito de ajudar a reduzir as chances de agravamento de sua situação de saúde.
                            </p>
                            <p>
                                Nesse sentido, o enfoque é apresentar estimativas do tempo médio de espera para o atendimento em cada unidade de saúde próxima ao usuário, com base em informações cedidas pelos próprios usuários do site acerca do atendimento recebido em determinada unidade.
                            </p>
                            <p>
                                Na mesma linha, facilita-se o acesso a informações gerais a respeito de cada unidade de saúde, como logradouro, contato, infraestrutura de atendimento e especialidades atendidas. Além dise, apresentam-se informações mais específicas, medicamentos disponíveis e escala de serviço, que são disponibilizadas por órgâos gestores da rede pública de saúde. 
                            </p>
                        </span>   
                    </div>  
                </ul> 
            </div>    
        </div>    
    </main>
    <aside id="navigation_aside" style="position: fixed; top: 100px;">
        <nav class="aside_nav">
            <div id="nav-aside-container">
                <header id="navigation-aside-header">
                    <h2 id="navigation-aside-title">Nesta página:</h2>
                </header>
                <ul id="navigation-aside-list">
                    <li><a href="#acesso a informacoes" aria-current="true">Acesso a informações</a></li>
                    <li><a href="#avaliacao de locais" aria-current="true">Avaliação de locais</a></li>
                    <li><a href="#minha conta" aria-current="true">Minha conta</a></li>
                    <li><a href="#funcionalidades do site" aria-current="true">Funcionalidades do site</a></li>
                    <li><a href="#sobre_nos" aria-current="true">Sobre nós</a></li>
                </ul>
            </div>
        </nav>
    </aside>
    <aside id="numbers_aside" style="position: fixed; top: 100px;">
        <nav class="aside_nav">
            <div id="numbers-aside-container">
                <header id="num-aside-header">
                    <h2 id="numbers_aside_title">Telefones úteis:</h2>
                </header>
                <ul id="numbers-aside-list">
                    <li><span class="span1">160</span><span class="span2">DISQUE SAÚDE</span></li>
                    <li><span class="span1">192</span><span class="span2">SAMU</span></li>
                    <li><span class="span1">193</span><span class="span2">BOMBEIROS</span></li>
                </ul>
            </div>
        </nav>
    </aside>
    <footer>
        <p>©MedConnect 2023</p>
        <p>Site criado por feudo 9 - "Verde Pântano".</p>
    </footer>
    </div>
</body>
</html>