<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css002.css">
</head>
<body>
    <div class="header">
        <!--<p class="logo"><a href="index002.html">MedConnect</a></p>-->
        <div id="header_container">
            <!--<div class="header_container_item">1</div>
            <div class="header_container_item">2</div>-->
            <div class="header_container_item">
                <img src="image_23.png">
            </div>
            <div class="header_container_item"><p class="logo"><a href="index002.html">MedConnect</a></p></div>
            <div class="header_container_item">
                <form id="pesquisa">
                    <!--<input type="text" id="input-pesquisa" name="query" placeholder="Digite o nome de um hospital..." size="100">-->
                    <input type="text" id="input-pesquisa" name="query" placeholder="Digite o nome de um hospital...">
                </form>
            </div>
            <div class="header_container_item">
                <!--BOTÃO LOGIN/CADASTRO-->
                <button type="button" id="header_button">Login ou<br>Cadastro<img src="image_7.png" style="float:right;"></button>
            </div>
        </div>
    </div>
    <nav class="bar">
        <ol>
            <li class="bar_element"><a href="#">Procurar hospital</a></li>
            <li class="bar_element"><a href="#">Pré-triagem</a></li>
            <li class="bar_element"><a href="#">Sobre nós</a></li>
            <li class="bar_element_active">Dúvidas frequentes</li>
        </ol>
    </nav>
    <!--aqui começa a página de fato-->
    <div id="faq-container">
        <div class="c">
            <input type="checkbox" id="faq-1">
            <h1><label for="faq-1">Teste</label></h1>
        </div>
        <div class="p">
            <p>Resposta</p>
        </div>
    </div>
</body>
</html>