<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="shortcut icon" href="../img/favicon_io/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="estilo/css002.css">
        <!--AVALIAÇÃO EM ESTRELAS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--OWL CAROUSEL YOUTUBE-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 10,
            'wght' 200,
            'GRAD' 0,
            'opsz' 36;
            z-index: 1;
            font-size: 36px;
            color: gray;
            font-family: 'Material Symbols Outlined';
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
       $("#btnPesquisar").click(function(){
        $("#top-bar1").toggle("fast");
        $("#top-bar2").hide("fast");
        $("#top-bar3").hide("fast");
        $("#fechar_aba").show("fast");
      });
      $("#locais_de_atendimento").click(function(){
        $("#top-bar2").toggle("fast");
        $("#top-bar1").hide();
        $("#top-bar3").hide();
        $("#fechar_aba").show("fast");
      });
      $("#outras_duvidas").click(function(){
        $("#top-bar3").toggle("fast");
        $("#top-bar1").hide();
        $("#top-bar2").hide();
        $("#fechar_aba").show("fast");
      });
      $("#fechar_aba").click(function(){
        $("#top-bar1").hide();
        $("#top-bar2").hide();
        $("#top-bar3").hide();
      });
      $(".voltar").click(function(){
        $("#top-bar1").show();
        $("#top-bar2").hide();
        $("#top-bar3").hide();
        $("#fechar_aba").show("fast");
      }); 
      $(".login_box").click(function(){
        $("#top-bar1").hide();
        $("#top-bar2").hide();
        $("#top-bar3").hide();
      }); 
    });
    $(window).scroll(function() {
        if ($(this).scrollTop() > 1){  
        $("#top-bar1").addClass("fixed");
        $("#top-bar2").addClass("fixed");
        $("#top-bar3").addClass("fixed");
        }
        else{
        $("#top-bar1").removeClass("fixed");
        $("#top-bar2").removeClass("fixed");
        $("#top-bar3").removeClass("fixed");
        }
    });
    </script>
</head>
<body>
    <!-- MENU SUPERIOR -->
    <header>
        <div id="logotipo">
            <img id="icone" src="../img/estetoscopio32px.png" alt="MedConnect logo." />
            <span id="titulo">MedConnect</span>
        </div>
        <nav>         
            <a href="index.html" rel="prev" target="_self">INÍCIO</a>
            <span class="divisor">|</span>
            <a href="../Página - Locais de atendimento/locaisdeatendimento.html" target="_self" style="font-weight: 650;">LOCAIS DE ATENDIMENTO</a>
            <span class="divisor">|</span>
            <a href="area_do_paciente.html" target="_self">PRÉ-TRIAGEM</a>
            <!--<a href="area_do_colaborador.html" target="_self">ÁREA DO COLABORADOR</a>-->
            <span class="divisor">|</span>
            <a href="../Página - Dúvidas frequentes/duvidas_frequentes.html" target="_self">DÚVIDAS FREQUENTES</a>
            <!-- 'target="_self"': continua na mesma aba. --> 
        </nav>
        <button id="btnPesquisar">
            <p style="font-size: 15px; font-weight: 500; margin-right: 7px;">PESQUISAR</p>
            <span class="material-symbols-outlined" style="color: black; font-size: 25px;">search</span>
        </button>
        <button type="button" class="login_box">
            <span style="font-size: 11px;">JOSEFO ALENCAR</span>
            <span class="material-symbols-outlined">account_circle</span>
        </button>
            <!--</a>-->
                
        <div class="content_account">
            <button><p style="font-size: 11px; padding: 9px 0;">MEUS DADOS</p></button>
            <button><p style="font-size: 11px; padding: 9px 0;">MINHAS AVALIAÇÕES</p></button>
            <button style="border-radius: 0px 0px 20px 20px;"><p style="font-size: 11px; padding: 9px 0;">SAIR DO PERFIL</p></button>
        </div>

        <!-- <nav>         
            <a href="index.html" rel="prev" target="_self">INÍCIO</a>
            <span class="divisor">|</span>
            <a href="locais_de_atendimento.html" target="_self">LOCAIS DE ATENDIMENTO</a>
            <span class="divisor">|</span>
            <a href="area_do_paciente.html" target="_self">PRÉ-TRIAGEM</a>
            <!-<a href="area_do_colaborador.html" target="_self">ÁREA DO COLABORADOR</a>--
            <span class="divisor">|</span>
            <a href="duvidas_frequentes.html" target="_self">DÚVIDAS FREQUENTES</a>
            <!- 'target="_self"': continua na mesma aba. -- 
        </nav> -->
    </header>
        <section id="pesquisa"> 
            <div id="top-bar1" style="display: none;">
                <span>Selecione o tipo de pesquisa:</span>
                <a href="../Página - Locais de atendimento/locaisdeatendimento.html" target="_self"><button id="locais_de_atendimento">Locais de atendimento</button></a>
                <a href="../Página - Dúvidas frequentes/duvidas_frequentes.html" target="_self"><button id="outras_duvidas">Outras dúvidas</button></a>
                <button id="fechar_aba" style="display: none;"><span class="material-symbols-outlined" style="font-size: 25px; height: 20px;">close</span></button>
            </div>
                <div id="top-bar2">
            <!-- <div id="top-bar2" style="display: none;"> -->
                <button class="voltar"><i class="uil uil-angle-left" style="font-size: 30px; color: gray;"></i></button>
                <span class="spanPesquisar">
                    <span class="material-symbols-outlined" style="color: black; font-size: 25px">search</span>
                    <input type="text" id="txt_outras_duvidas" placeholder="PESQUISAR..."/>
                </span>
                <div class="wrapper">
                    <div class="select-btn">
                        <span>UF</span>
                        <i class="uil uil-angle-down"></i>
                    </div>
                    <div class="content">
                        <div class="search">
                            <i class="uil uil-search"></i>
                            <input type="text" placeholder="Pesquisar">
                        </div>
                        <ul class="options"></ul>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="select-btn">
                        <span>CIDADE</span>
                        <i class="uil uil-angle-down"></i>
                    </div>
                    <div class="content">
                        <div class="search">
                            <i class="uil uil-search"></i>
                            <input type="text" placeholder="Pesquisar">
                        </div>
                        <ul class="options"></ul>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="select-btn">
                        <span>ESPECIALIDADE</span>
                        <i class="uil uil-angle-down"></i>
                    </div>
                    <div class="content">
                        <div class="search">
                            <i class="uil uil-search"></i>
                            <input type="text" placeholder="Pesquisar">
                        </div>
                        <ul class="options"></ul>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="select-btn">
                        <span>LOCAL</span>
                        <i class="uil uil-angle-down"></i>
                    </div>
                    <div class="content">
                        <div class="search">
                            <i class="uil uil-search"></i>
                            <input type="text" placeholder="Pesquisar">
                        </div>
                        <ul class="options"></ul>
                    </div>
                </div>
                <button id="btnProcurar"><span class="material-symbols-outlined" style="color: black; font-size: 30px">search</span></button>
            </div>
            <div id="top-bar3" style="display: none;">
                <button class="voltar"><i class="uil uil-angle-left" style="font-size: 30px; color: gray; margin-left: 25px;"></i></button>
                <span class="spanPesquisar">
                    <span class="material-symbols-outlined" style="color: black; font-size: 25px">search</span>
                    <input type="text" id="txt_pesquisar_locais" placeholder="PESQUISAR..."/>
                </span>
            </div>
        </section> 
    <body>
       
        <!--<p>A importância de se avaliar os hospitais</p>-->
        <!--<label for="hospitais"></label>
        <input type="text" id="hospital" name="hospital" size="100"/>-->
        <!--<form id="pesquisa">
            <input type="text" id="input-pesquisa" name="query" placeholder="Digite o nome de um hospital..." size="100">
            <input type="text" id="input-pesquisa" name="query" placeholder="Digite o nome de um hospital...">
        </form>
        <div id="sugestoes-container"></div>-->
        <!--FIM DA BARRA DE PESQUISA-->
        <!--HOSPITAIS MAIS PRÓXIMOS-->
        <main>
        <p>LOCAIS DE ATENDIMENTO MAIS PRÓXIMOS:</p>
        <div class="outer-flex-container">
            <!-- {% for hospital in hospitais %} -->
                <div class="inner-flex-container">
                    
                    <div class="inner-flex-item">
                    <!--<p>icon</p>-->
                    <img src="https://cdn-icons-png.flaticon.com/128/3022/3022868.png">
                    </div>
                    <div id="gerais">  
                        <h3><strong>HOSPITAL REGIONAL DE SANTA MARIA REGIONAL DE SANTA MARIA REGIONAL DE SANTA MARIA</strong></h3>
                        <span id="endereco"><small>Qs 115, Avenida dos Pinheiros. Qs 115, Avenida dos Pinheiros Qs 115, Avenida dos Pinheiros</small></span>
                        <span id="cep"><small>CEP: 11-111.111</small></span>
                        <div class="inner-flex-item">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                        <!-- <div id="container_contato">
                            <span><small>Contato:</small></span> 
                            <div id="contato">
                                <span><small>telefone</small></span>
                                <span><small>e-mail</small></span>
                            </div>
                        </div> -->
                </div>
                    <!-- <div class="inner-flex-item">
                    <!-<p style="text-transform:uppercase;font-weight:bold;">-><p class="nome-hospital">{{ hospital.nome }}<br></p>
                    <p class="endereco-hospital">{{ hospital.endereço }}. {{ hospital.cep }}</p>
                    </div>
                    <!-TEMPOS DE ESPERA POR COR DA FICHA->
                    <div class="inner-flex-item">
                        <p style="text-align:center;"><img src="{% static 'img/vermelho_r2.png'%}"><br>X min</p>
                    </div>
                    <div class="inner-flex-item">
                        <p style="text-align:center;"><img src="{% static 'img/laranja_r2.png'%}"><br>X min</p>
                    </div>
                    <div class="inner-flex-item">
                        <p style="text-align:center;"><img src="{% static 'img/amarelo_r2.png'%}"><br>X min</p>
                    </div>
                    <div class="inner-flex-item">
                        <p style="text-align:center;"><img src="{% static 'img/verde_r2.png'%}"><br>X min</p>
                    </div>
                    <div class="inner-flex-item">
                        <p style="text-align:center;"><img src="{% static 'img/azul_r2.png'%}"><br>X min</p>
                    </div> -->
                    <!--AVALIAÇÃO EM ESTRELAS; PRECISA DE INTEGRAÇÃO COM BACK END; PEGUEI DA W3SCHOOLS; REDIMENSIONAR, AUMENTAR TAMANHO-->
                    <div class="informacoes">
                        <div class="tempos_de_espera">
                            <div class="tempos">
                                <span class="c-orange"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">
                                <span class="c-yellow"></span>
                                <span>x min</span>
                            </div>   
                            <div class="tempos">   
                                <span class="c-green"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">  
                                <span class="c-blue"></span> 
                                <span>x min</span>  
                            </div>     
                        </div>
                    </div>

                </div>
            <!-- {% endfor %} -->
        </div>
        <p>NOTÍCIAS:</p>
        <!--OWL CAROUSEL-->
        <!--<div class="owl-carousel">
            <div>
                <img src="https://www.sodapdf.com/blog/wp-content/uploads/2018/10/blog_how-to-make-a-tutorial-video.jpg" alt="">
                <p>Como realizar a avaliação?<br></p>
                <p>Para realizar uma avaliação, é necessário criar uma conta no site. É um processo simples, mas necessário para que possamos atestar a confiabilidade das avaliações. Clique aqui para saber mais.</p></div>
            <div> Your Content </div>
            <div> Your Content </div>
            <div> Your Content </div>
            <div> Your Content </div>
            <div> Your Content </div>
            <div> Your Content </div>
        </div>-->
        <div class="owl-carousel owl-theme">
            <div class="item"><h4>1</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
            <div class="item"><h4>2</h4></div>
            <div class="item"><h4>3</h4></div>
            <div class="item"><h4>4</h4></div>
            <div class="item"><h4>5</h4></div>
            <div class="item"><h4>6</h4></div>
            <div class="item"><h4>7</h4></div>
            <div class="item"><h4>8</h4></div>
            <div class="item"><h4>9</h4></div>
            <div class="item"><h4>10</h4></div>
            <div class="item"><h4>11</h4></div>
            <div class="item"><h4>12</h4></div>
        </div>
        </main>
        <footer>
            <p>©2023, MedConnect.</p>
            <p>Verde Pântano - Desenvolvimento de Software, 2023/2.</p>
        </footer>
        <script>
            //Evento de digitação no campo de pesquisa??
            document.getElemenyById('input-pesquisa').addEventListener('input',function(){
                const query=this.value.trim();
                //Verifi"cando se a consulta não está vazia
                if(query!== ''){
                    //Envia solicitação AJAX para o servidor para obter sugestões *??
                    //SUBSTITUIR ESSA PARTE COM SUA LÓGICA REAL DE OBTENÇÃO DE SUGESTÕES DO SERVIDOR
                    const suggestions = getSuggestionsFromServer(query);
                    //Atualizar as sugestões no DOM *??
                    displaySuggestions(suggestions);
                }
                else{
                    //Se o campo de pesquisa estiver vazio, limpe as sugestões
                    clearSuggestions();
                }
            });
            function getSuggestionsFromServer(query){
                //SIMULANDO UMA SOLICITAÇÃO AO SERVIDOR PARA OBTER SUGESTÕES
                //SUBSTITUIR ISSO COM SUA LÓGICA DE BUSCA REAL
                const suggestions=[
                    'Hospital Regional do Gama',
                    'Hospital Regional de Santa Maria',
                    'Hospital Regional de Planaltina'
                ];
                return suggestions;
            }
            function displaySuggestions(suggestions){
                const sugestoesContainer=document.getElementById('sugestoes-container');
                sugestoesContainer.innerHTML='';//*??
                suggestions.forEach(function(suggestion){
                    const suggestionElement=document.createElement('div');
                    suggestionElement.textContent=suggestion;
                    suggestionsContainer.appendChild(suggestionElement);
                });
            }
            function clearSuggestions(){
                const suggestionsContainer = document.getElementById('sugestoes-container');
                suggestionsContainer.innerHTML='';
            }
        </script>
        <!--OWL CAROUSEL-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
           $('.loop').owlCarousel({
    center: true,
    items:2,
    loop:true,
    margin:10,
    responsive:{
        600:{
            items:4
        }
    }
});
            //INICIANDO
            $(document).ready(function(){
                $(".owl-carousel").owlCarousel();
            });
        </script>
    </body>
</html>