{% extends "inicial/base.html" %}
{% load static %}
{% block content %}
    <main>
        <section id="seletores">
            <form action="{% url 'buscar' %}">
                <div class="wrapper">
                    {{ filter.uf }}
                </div>
                <div class="wrapper">
                    {{ filter.municipio }}
                </div>
                <div class="wrapper">
                    {{ filter.especialidade }}
                </div>
                <div class="wrapper" id="selecionar_local">
                    <div class="select-btn" id="selecionar_local2">
                        <span>SELECIONAR LOCAL</span>
                        <i class="uil uil-angle-down"></i>
                    </div>
                    <div class="content">
                        <div class="search">
                            <i class="uil uil-search"></i>
                            <input type="text" placeholder="Pesquisar">
                        </div>
                        <ul class="options"></ul>
                    </div>
                </div>

                <script src="{% static 'js/script-select-menu.js' %}"></script>

                <button type="submit" id="btnProcurar"><img src="{% static 'img/botao-lupa-pesquisa35px.png'%}" alt="Botão de pesquisa."></button>
            </form>    
        </section>
        <section id="resultados-da-pesquisa">
            <!--<h1><strong>RESULTADOS DA PESQUISA:</strong></h1>-->
            {% for hospital in hospitais %}
                <ul>
                    <li>{{ hospital.nome }}
                        <br/>
                        {{ hospital.get_categoria_display }}
                        <span class="c-orange"></span>
                        <span class="c-yellow"></span>
                        <span class="c-green"></span>
                        <span class="c-blue"></span> 
                        <span class="tempos-de-espera">
                            <span class="laranja">x min</span>
                            <span class="amarelo">x min</span>
                            <span class="verde">x min</span>
                            <span class="azul">x min</span>
                        </span>
                        <button class="info "><a href="{% url 'mais_informacoes' hospital.cnes %}">Mais informações</a></button>
                    </li>       
                </ul>
            {% empty %}
                <li>Nenhum hospital encontrado</li>
            {% endfor %}
        </section> 
    </main>
    <!--<footer>
        <p>Site criado por feudo 9 - "Verde Pântano".</p>
    </footer>-->
{% endblock %}