{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página - Locais de atendimento</title>
    <link rel="shortcut icon" href="{% static 'img/favicon_io/favicon.ico' %}" typoe="image/x-icon">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <header>
        <img id="logotipo" src="{% static 'img/novo-logotipo220px.png' %}" alt="MedConnect logo." />
        <span id="spanPesquisar">
            <form action="{% url 'buscar'%}">
                <img src="{% static 'img/botao-lupa-pesquisa20px.png' %}" alt="ìcone de pesquisa (lupa).">
                <input type="text" name="buscar" id="txtPesquisar" placeholder="Pesquisar...">
                <button type="submit" id="btnPesquisar">Pesquisar</button>
            </form>
        </span>
        <img id="log-cad" src="{% static 'img/botao-log-cad.PNG' %}" alt="Botão de login/cadastro." />
        <!--<div id="division-line"></div>--> <!--Opcional-->
        <nav>     
            <a href="{% url "index" %}" rel="prev" target="_self">INÍCIO</a>
            <a href="{% url "locais_de_atendimento" %}" target="_self">LOCAIS DE ATENDIMENTO</a>
            <a href="area_do_paciente.html" target="_self">PRÉ-TRIAGEM</a>
            <!--<a href="area_do_colaborador.html" target="_self">ÁREA DO COLABORADOR</a>-->
            <a href="duvidas_frequentes.html" target="_self">DÚVIDAS FREQUENTES</a>
            <!-- 'target="_self"': continua na mesma aba. --> 
        </nav>
    </header>
    <main>
        <section id="seletores">
            <div class="wrapper">
                <div class="select-btn">
                    <span>SELECIONAR UF</span>
                    <i class="uil uil-angle-down"></i>
                </div>
                <div class="content">
                    <div class="search">
                        <i class="uil uil-search"></i>
                        <input type="text" placeholder="Pesquisar">
                    </div>
                    <ul class="options"></ul>
                </div>
            </div>
            <div class="wrapper">
                <div class="select-btn">
                    <span>SELECIONAR CIDADE</span>
                    <i class="uil uil-angle-down"></i>
                </div>
                <div class="content">
                    <div class="search">
                        <i class="uil uil-search"></i>
                        <input type="text" placeholder="Pesquisar">
                    </div>
                    <ul class="options"></ul>
                </div>
            </div>
            <div class="wrapper">
                <div class="select-btn">
                    <span>ESPECIALIDADE</span>
                    <i class="uil uil-angle-down"></i>
                </div>
                <div class="content">
                    <div class="search">
                        <i class="uil uil-search"></i>
                        <input type="text" placeholder="Pesquisar">
                    </div>
                    <ul class="options"></ul>
                </div>
            </div>
            <div class="wrapper">
                <div class="select-btn">
                    <span>SELECIONAR LOCAL</span>
                    <i class="uil uil-angle-down"></i>
                </div>
                <div class="content">
                    <div class="search">
                        <i class="uil uil-search"></i>
                        <input type="text" placeholder="Pesquisar">
                    </div>
                    <ul class="options"></ul>
                </div>
            </div>

            <script src="{% static 'js/script-select-menu.js' %}"></script>

            <button id="btnProcurar"><img src="{% static 'img/botao-lupa-pesquisa35px.png'%}" alt="Botão de pesquisa."></button>
        </section>
        <section id="resultados-da-pesquisa">
            <!--<h1><strong>RESULTADOS DA PESQUISA:</strong></h1>-->
            <ul>
                {% if hospitais %}
                    {% for hospital in hospitais %}
                        <li>{{ hospital.nome }}<br/>{{ hospital.get_categoria_display }}<span class="circles"><span class="c-orange"></span><span class="c-yellow"></span><span class="c-green"></span><span class="c-blue"></span><button class="info "><a href="#">Mais informações</a></button></li>
                    {% endfor %}
                    {% else %}
                        <li>Nenhum hospital encontrado</li>
                {% endif %}
            </ul>
        </section> 
    </main>
    <!--<footer>
        <p>Site criado por feudo 9 - "Verde Pântano".</p>
    </footer>-->
</body>
</html>