<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página - Locais de atendimento</title>
    <link rel="shortcut icon" href="../img/favicon_io/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="estilo/locaisdeatendimento.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-outlined {
            display: inline-block;
            position: fixed;
            font-variation-settings:
            'FILL' 10,
            'wght' 200,
            'GRAD' 0,
            'opsz' 36;
            z-index: 1;
            right: 62px;
            top: 12px;
            font-size: 36px;
            color: gray;
            font-family: 'Material Symbols Outlined';
        }      
    </style>
</head>
<body>
    <!-- MENU SUPERIOR -->
    <header>
        <img id="logotipo" src="../img/estetoscopio32px.png" alt="MedConnect logo." />
        <span id="titulo">MedConnect</span>
        <span id="spanPesquisar">
            <img src="../img/botao-lupa-pesquisa20px.png" alt="ìcone de pesquisa (lupa)."/>
            <input type="text" id="txtPesquisar" placeholder="PESQUISAR..."/>
            <!--<button id="btnPesquisar">Pesquisar</button>-->
        </span>
            <!-- <a href="FazerLogin.html"> -->
        <button type="button" class="login_box">
            <span style="position: fixed; top: 23px; right: 100px; font-size: 11px;">JOSEFO ALENCAR</span>
            <span class="material-symbols-outlined">account_circle</span>
        </button>
            <!--</a>-->
                
        <div class="content_account">
            <button><p style="font-size: 11px; padding: 9px 0;">MEUS DADOS</p></button>
            <button><p style="font-size: 11px; padding: 9px 0;">MINHAS AVALIAÇÕES</p></button>
            <button style="border-radius: 0px 0px 20px 20px;"><p style="font-size: 11px; padding: 9px 0;">SAIR DO PERFIL</p></button>
        </div>

        <nav>         
            <a href="index.html" rel="prev" target="_self">INÍCIO</a>
            <span class="divisor">|</span>
            <a href="locais_de_atendimento.html" target="_self">LOCAIS DE ATENDIMENTO</a>
            <span class="divisor">|</span>
            <a href="area_do_paciente.html" target="_self">PRÉ-TRIAGEM</a>
            <!--<a href="area_do_colaborador.html" target="_self">ÁREA DO COLABORADOR</a>-->
            <span class="divisor">|</span>
            <a href="duvidas_frequentes.html" target="_self">DÚVIDAS FREQUENTES</a>
            <!-- 'target="_self"': continua na mesma aba. --> 
        </nav>
    </header>

    <main>
        <section id="seletores">
            <div class="wrapper">
                <div class="select-btn">
                    <span>SELECIONAR UF</span>
                    <i class="uil uil-angle-down"></i>
                </div>
                <div class="content">
                    <div class="search">
                        <i class="uil uil-search"></i>
                        <input type="text" placeholder="Pesquisar">
                    </div>
                    <ul class="options"></ul>
                </div>
            </div>
            <div class="wrapper">
                <div class="select-btn">
                    <span>CIDADE/MUNICÍPIO</span>
                    <i class="uil uil-angle-down"></i>
                </div>
                <div class="content">
                    <div class="search">
                        <i class="uil uil-search"></i>
                        <input type="text" placeholder="Pesquisar">
                    </div>
                    <ul class="options"></ul>
                </div>
            </div>
            <div class="wrapper">
                <div class="select-btn">
                    <span>ESPECIALIDADE</span>
                    <i class="uil uil-angle-down"></i>
                </div>
                <div class="content">
                    <div class="search">
                        <i class="uil uil-search"></i>
                        <input type="text" placeholder="Pesquisar">
                    </div>
                    <ul class="options"></ul>
                </div>
            </div>
            <div class="wrapper">
                <div class="select-btn">
                    <span>TIPO DE LOCAL</span>
                    <i class="uil uil-angle-down"></i>
                </div>
                <div class="content">
                    <div class="search">
                        <i class="uil uil-search"></i>
                        <input type="text" placeholder="Pesquisar">
                    </div>
                    <ul class="options"></ul>
                </div>
            </div>
            <button id="btnProcurar"><img src="../img/botao-lupa-pesquisa35px.png" alt="Botão de pesquisa."></button>
        </section>
        <section id="resultados-da-pesquisa">
            <h1><strong>RESULTADOS DA PESQUISA:</strong></h1>
            <hr/>
            <ul>
                <li>
                    <div class="nome_local">
                        <h3><strong>HOSPITAL 1</strong></h3>
                        <span>Qs 115, Avenida dos Pinheiros. CEP: 11-111.111</span> 
                    </div>
                    <div class="informacoes">
                        <div class="tempos_de_espera">
                            <div class="tempos">
                                <span class="c-orange"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">
                                <span class="c-yellow"></span>
                                <span>x min</span>
                            </div>   
                            <div class="tempos">   
                                <span class="c-green"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">  
                                <span class="c-blue"></span> 
                                <span>x min</span>  
                            </div>     
                        </div>
                        <button class="info"><a href="#"><span style="font-size: 22px;">+</span><span> INFORMAÇÕES</span></a></button>
                    </div>
                </li>
                <li>
                    <div class="nome_local">
                        <h3><strong>HOSPITAL 1</strong></h3>
                        <span>Qs 115, Avenida dos Pinheiros. CEP: 11-111.111</span> 
                    </div>
                    <div class="informacoes">
                        <div class="tempos_de_espera">
                            <div class="tempos">
                                <span class="c-orange"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">
                                <span class="c-yellow"></span>
                                <span>x min</span>
                            </div>   
                            <div class="tempos">   
                                <span class="c-green"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">  
                                <span class="c-blue"></span> 
                                <span>x min</span>  
                            </div>     
                        </div>
                        <button class="info"><a href="#"><span style="font-size: 22px;">+</span><span> INFORMAÇÕES</span></a></button>
                    </div>
                </li>
                <li>
                    <div class="nome_local">
                        <h3><strong>HOSPITAL 1</strong></h3>
                        <span>Qs 115, Avenida dos Pinheiros. CEP: 11-111.111</span> 
                    </div>
                    <div class="informacoes">
                        <div class="tempos_de_espera">
                            <div class="tempos">
                                <span class="c-orange"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">
                                <span class="c-yellow"></span>
                                <span>x min</span>
                            </div>   
                            <div class="tempos">   
                                <span class="c-green"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">  
                                <span class="c-blue"></span> 
                                <span>x min</span>  
                            </div>     
                        </div>
                        <button class="info"><a href="#"><span style="font-size: 22px;">+</span><span> INFORMAÇÕES</span></a></button>
                    </div>
                </li>
                <li>
                    <div class="nome_local">
                        <h3><strong>HOSPITAL 1</strong></h3>
                        <span>Qs 115, Avenida dos Pinheiros. CEP: 11-111.111</span> 
                    </div>
                    <div class="informacoes">
                        <div class="tempos_de_espera">
                            <div class="tempos">
                                <span class="c-orange"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">
                                <span class="c-yellow"></span>
                                <span>x min</span>
                            </div>   
                            <div class="tempos">   
                                <span class="c-green"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">  
                                <span class="c-blue"></span> 
                                <span>x min</span>  
                            </div>     
                        </div>
                        <button class="info"><a href="#"><span style="font-size: 22px;">+</span><span> INFORMAÇÕES</span></a></button>
                    </div>
                </li>
                <li>
                    <div class="nome_local">
                        <h3><strong>HOSPITAL 1</strong></h3>
                        <span>Qs 115, Avenida dos Pinheiros. CEP: 11-111.111</span> 
                    </div>
                    <div class="informacoes">
                        <div class="tempos_de_espera">
                            <div class="tempos">
                                <span class="c-orange"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">
                                <span class="c-yellow"></span>
                                <span>x min</span>
                            </div>   
                            <div class="tempos">   
                                <span class="c-green"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">  
                                <span class="c-blue"></span> 
                                <span>x min</span>  
                            </div>     
                        </div>
                        <button class="info"><a href="#"><span style="font-size: 22px;">+</span><span> INFORMAÇÕES</span></a></button>
                    </div>
                </li>
                <li>
                    <div class="nome_local">
                        <h3><strong>HOSPITAL 1</strong></h3>
                        <span>Qs 115, Avenida dos Pinheiros. CEP: 11-111.111</span> 
                    </div>
                    <div class="informacoes">
                        <div class="tempos_de_espera">
                            <div class="tempos">
                                <span class="c-orange"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">
                                <span class="c-yellow"></span>
                                <span>x min</span>
                            </div>   
                            <div class="tempos">   
                                <span class="c-green"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">  
                                <span class="c-blue"></span> 
                                <span>x min</span>  
                            </div>     
                        </div>
                        <button class="info"><a href="#"><span style="font-size: 22px;">+</span><span> INFORMAÇÕES</span></a></button>
                    </div>
                </li>
                <li>
                    <div class="nome_local">
                        <h3><strong>HOSPITAL 1 abcdef ab abcdfeghijk abcde fghijklmn xxxxx aaaaaaaaaaa bbbbbbbbbbbbbb cccccccccc ddddddddd eeeee ff ggggg</strong></h3>
                        <span>Qs 115, Avenida dos Pinheiros. CEP: 11-111.111 aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa bbbbbbbbbbbbbbbbbbbbbbbb ccccccccccc nnnnn ss kkkkkkkkk</span> 
                    </div>
                    <div class="informacoes">
                        <div class="tempos_de_espera">
                            <div class="tempos">
                                <span class="c-orange"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">
                                <span class="c-yellow"></span>
                                <span>x min</span>
                            </div>   
                            <div class="tempos">   
                                <span class="c-green"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">  
                                <span class="c-blue"></span> 
                                <span>x min</span>  
                            </div>     
                        </div>
                        <button class="info"><a href="#"><span style="font-size: 22px;">+</span><span> INFORMAÇÕES</span></a></button>
                    </div>
                </li>
                <li>
                    <div class="nome_local">
                        <h3><strong>HOSPITAL 1</strong></h3>
                        <span>Qs 115, Avenida dos Pinheiros. CEP: 11-111.111</span> 
                    </div>
                    <div class="informacoes">
                        <div class="tempos_de_espera">
                            <div class="tempos">
                                <span class="c-orange"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">
                                <span class="c-yellow"></span>
                                <span>x min</span>
                            </div>   
                            <div class="tempos">   
                                <span class="c-green"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">  
                                <span class="c-blue"></span> 
                                <span>x min</span>  
                            </div>     
                        </div>
                        <button class="info"><a href="#"><span style="font-size: 22px;">+</span><span> INFORMAÇÕES</span></a></button>
                    </div>
                </li>
                <li>
                    <div class="nome_local">
                        <h3><strong>HOSPITAL 1</strong></h3>
                        <span>Qs 115, Avenida dos Pinheiros. CEP: 11-111.111</span> 
                    </div>
                    <div class="informacoes">
                        <div class="tempos_de_espera">
                            <div class="tempos">
                                <span class="c-orange"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">
                                <span class="c-yellow"></span>
                                <span>x min</span>
                            </div>   
                            <div class="tempos">   
                                <span class="c-green"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">  
                                <span class="c-blue"></span> 
                                <span>x min</span>  
                            </div>     
                        </div>
                        <button class="info"><a href="#"><span style="font-size: 22px;">+</span><span> INFORMAÇÕES</span></a></button>
                    </div>
                </li>
                <li>
                    <div class="nome_local">
                        <h3><strong>HOSPITAL 1</strong></h3>
                        <span>Qs 115, Avenida dos Pinheiros. CEP: 11-111.111</span> 
                    </div>
                    <div class="informacoes">
                        <div class="tempos_de_espera">
                            <div class="tempos">
                                <span class="c-orange"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">
                                <span class="c-yellow"></span>
                                <span>x min</span>
                            </div>   
                            <div class="tempos">   
                                <span class="c-green"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">  
                                <span class="c-blue"></span> 
                                <span>x min</span>  
                            </div>     
                        </div>
                        <button class="info"><a href="#"><span style="font-size: 22px;">+</span><span> INFORMAÇÕES</span></a></button>
                    </div>
                </li>
                <li>
                    <div class="nome_local">
                        <h3><strong>HOSPITAL 1</strong></h3>
                        <span>Qs 115, Avenida dos Pinheiros. CEP: 11-111.111</span> 
                    </div>
                    <div class="informacoes">
                        <div class="tempos_de_espera">
                            <div class="tempos">
                                <span class="c-orange"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">
                                <span class="c-yellow"></span>
                                <span>x min</span>
                            </div>   
                            <div class="tempos">   
                                <span class="c-green"></span>
                                <span>x min</span>
                            </div>
                            <div class="tempos">  
                                <span class="c-blue"></span> 
                                <span>x min</span>  
                            </div>     
                        </div>
                        <button class="info"><a href="#"><span style="font-size: 22px;">+</span><span> INFORMAÇÕES</span></a></button>
                    </div>
                </li> 
            </ul>
        </section> 
    </main>
        <script type="text/javascript" src="js/script-select-menu-e-login-box.js"></script> 
    <footer>
        <p>MedConnect, c2023.</p>
        <p>Site criado por feudo 9 - "Verde Pântano".</p>
    </footer>
</body>

</html>