<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página - Mais informações</title>
    <link rel="shortcut icon" href="../img/favicon_io/favicon.ico" typoe="image/x-icon">
    <link rel="stylesheet" href="estilo/maisinformacoes.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <header>
        <img id="logotipo" src="../img/novo-logotipo220px.png" alt="MedConnect logo." />
        <span id="spanPesquisar">
            <img src="../img/botao-lupa-pesquisa20px.png" alt="ìcone de pesquisa (lupa)."/>
            <input type="text" id="txtPesquisar" placeholder="PESQUISAR..."/>
            <!--<button id="btnPesquisar">Pesquisar</button>-->
            <a href="FazerLogin.html">
                <input class="login_box" type="button" value="LOGIN/CADASTRO">
            </a>
                
        </span>
        <!--<img id="log-cad" src="../img/botao-log-cad.PNG" alt="Botão de login/cadastro." />
        <div id="division-line"></div>-->
        <nav>         
            <a href="index.html" rel="prev" target="_self">INÍCIO</a>
            <!--<span class="divisor">|</span>-->
            <a href="locais_de_atendimento.html" target="_self">LOCAIS DE ATENDIMENTO</a>
            <!--<span class="divisor">|</span>-->
            <a href="area_do_paciente.html" target="_self">PRÉ-TRIAGEM</a>
            <!--<a href="area_do_colaborador.html" target="_self">ÁREA DO COLABORADOR</a>-->
            <!--<span class="divisor">|</span>-->
            <a href="duvidas_frequentes.html" target="_self">DÚVIDAS FREQUENTES</a>
            <!-- 'target="_self"': continua na mesma aba. --> 
        </nav>
    </header>
    <main>
        <section id="inf-gerais">
            <i class="uil uil-angle-down"></i>
            <h1><strong>INFORMAÇÕES GERAIS</strong></h1>
            
            <span class="nome-local"><strong>HOSPITAL 1</strong></span>
            <br/>
            <span class="gerais">Qs 115, Avenida dos Pinheiros. CEP: 11-111.111</span>
            <br/>
            <span class="gerais">Contato: telefone/e-mail</span>
            <br/>
            <span class="gerais">Avaliações:</span>
            <span class="c-orange"></span>
            <span class="c-yellow"></span>
            <span class="c-green"></span>
            <span class="c-blue"></span>
            <span class="tempos-de-espera">
                <span class="laranja">x min</span>
                <span class="amarelo">x min</span>
                <span class="verde">x min</span>
                <span class="azul">x min</span>
            </span>
            <button class="info "><a href="{% url 'avaliar_hospital' hospital.cnes %}">AVALIAR HOSPITAL</a></button>
            <br/><br/><br/>
            <span class="detalhamento">ESPECIALIDADES ATENDIDAS:
            <ul>
                <li>A;</li>
                <li>B;</li>
                <li>C;</li>
                <li>D;</li>
                <li>E.</li>
            </ul>
            </span>
            <span class="detalhamento">PLANOS DE SAÚDE ATENDIDOS:
            <ul>
                <li>a;</li>
                <li>b;</li>
                <li>c;</li>
                <li>d;</li>
                <li>e.</li>
            </ul>
            </span>
            <span class="detalhamento">ESCALA DO DIA:</span>
                <!--<li>HOSPITAL 2<br/>Qs 115, Avenida dos Pinheiros. CEP: 11-111.111 <span class="c-orange"></span><span class="c-yellow"></span></span><span class="c-green"></span><span class="c-blue"></span><button class="info"><a href="#">Mais informações</a></button></li>
                <li>HOSPITAL 3<br/>Qs 115, Avenida dos Pinheiros. CEP: 11-111.111 <span class="circles"><span class="c-orange"></span><span class="c-yellow"></span></span><span class="c-green"></span><span class="c-blue"></span></span><button class="info"><a href="#">Mais informações</a></button></li>-->
        
        </section> 
    </main>
    <!--<footer>
        <p>Site criado por feudo 9 - "Verde Pântano".</p>
    </footer>-->
</body>
</html>
