{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedConnect</title>
    <link rel="shortcut icon" href="../img/favicon_io/favicon.ico" typoe="image/x-icon">
    <link rel="stylesheet" href="{% static "static/maisinformacoes.css"%}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 10,
            'wght' 200,
            'GRAD' 0,
            'opsz' 36;
            z-index: 1;
            font-size: 36px;
            color: gray;
            font-family: 'Material Symbols Outlined';
        }      
    </style>
</head>
<body>
    <!-- MENU SUPERIOR -->
    <header>
        <div id="logotipo">
            <img id="icone" src="{% static "img/estetoscopio32px.png"%}" alt="MedConnect logo." />
            <h2 id="titulo">MedConnect</h2>
        </div>
        <span id="spanPesquisar">
            <form action="{% url 'buscar' %}">
                <img src="{% static "img/botao-lupa-pesquisa20px.png"%}" alt="ìcone de pesquisa (lupa)."/>
                {{ buscar }}
            </form>
        </span>
            <!-- <a href="FazerLogin.html"> -->
        {% if user.is_authenticated %}
            <button type="button" class="login_box">
                <span style="font-size: 11px;">{{ user.username }}</span>
                <span class="material-symbols-outlined">account_circle</span>
            </button>
        {% else %}
            <button type="button" class="login_box">
                <span  style="font-size: 11px;"><a href="{% url "login" %}">Realizar Login</a></span>
                <span class="material-symbols-outlined">account_circle</span>
            </button>
        {% endif %}
            <!--</a>-->
                
        <div class="content_account">
            <button><p style="font-size: 11px; padding: 9px 0;">MEUS DADOS</p></button>
            <button><p style="font-size: 11px; padding: 9px 0;">MINHAS AVALIAÇÕES</p></button>
            <button style="border-radius: 0px 0px 20px 20px;"><p style="font-size: 11px; padding: 9px 0;">SAIR DO PERFIL</p></button>
        </div>

        <nav>         
            <a href="{% url "index" %}" rel="prev" target="_self">INÍCIO</a>
            <span class="divisor">|</span>
            <a href="{% url "locais_de_atendimento" %}" target="_self">LOCAIS DE ATENDIMENTO</a>
            <span class="divisor">|</span>
            <a href="area_do_paciente.html" target="_self">PRÉ-TRIAGEM</a>
            <!--<a href="area_do_colaborador.html" target="_self">ÁREA DO COLABORADOR</a>-->
            <span class="divisor">|</span>
            <a href="{% url "duvidas_frequentes" %}" target="_self">DÚVIDAS FREQUENTES</a>
            <!-- 'target="_self"': continua na mesma aba. --> 
        </nav>
    </header>
    <main>
        <a href="{% url "locais_de_atendimento" %}"><i class="uil uil-angle-down"></i></a>
        <h1><strong>INFORMAÇÕES GERAIS</strong></h1>
        <hr/>
        <div id="inf_gerais">
            <div id="gerais">  
                <h3><strong>{{ hospital.nome }}</strong></h3>
                <span><small>{{ hospital.endereço }}</small></span>
                <span><small>CEP: {{ hospital.cep }}</small></span>
                <div id="container_contato">
                    <span><small>Contato:</small></span> 
                    <div id="contato">
                        <span><small>{{ hospital.telefone }}</small></span>
                        <span><small>{{ hospital.email }}</small></span>
                    </div>
                </div>
            </div>
            <div class="tempos_de_espera">
                <div class="tempos">
                    <span class="c-orange"></span>
                    <span>{{ hospital.tempo_muito_urgente}} min</span>
                </div>
                <div class="tempos">
                    <span class="c-yellow"></span>
                    <span>{{ hospital.tempo_urgente }} min</span>
                </div>   
                <div class="tempos">   
                    <span class="c-green"></span>
                    <span>{{ hospital.tempo_pouco_urgente }} min</span>
                </div>
                <div class="tempos">  
                    <span class="c-blue"></span> 
                    <span>{{ hospital.tempo_nao_urgente }} min</span>  
                </div>     
            </div>
        </div>
        <hr/>
        <div id="avaliacao">
            <div id="classificacao">
                <span>Avaliação geral:</span>
                <div id="stars_container">
                    <div id="stars">
                        <input type="radio" id="star5" name="avaliacao" value="5"/>
                        <label for="star5" title="text">5 estrelas</label>
                        <input type="radio" id="star4" name="avaliacao" value="4" />
                        <label for="star4" title="text">4 estrelas</label>
                        <input type="radio" id="star3" name="avaliacao" value="3" />
                        <label for="star3" title="text">3 estrelas</label>
                        <input type="radio" id="star2" name="avaliacao" value="2" />
                        <label for="star2" title="text">2 estrelas</label>
                        <input type="radio" id="star1" name="avaliacao" value="1" />
                        <label for="star1" title="text">1 estrela</label>
                    </div>
                </div>
            </div>
            <button id="avaliar"><a href="{% url "avaliar_hospital" hospital.cnes%}">AVALIAR LOCAL</a></button>
        </div>
        <hr/>
        <br/>
        <div id="container2">
            <div id="mais_informacoes">
                <div class="detalhamento"><strong>Especialidades:</strong>
                    <ul>
                        <li>A;</li>
                        <li>B;</li>
                        <li>C;</li>
                        <li>D;</li>
                        <li>E.</li>
                    </ul>
                </div>
                <div class="detalhamento"><strong>Profissionais disponíveis:</strong>
                    <ul>
                        <li>A;</li>
                        <li>B;</li>
                        <li>C;</li>
                        <li>D;</li>
                        <li>E.</li>
                    </ul>
                </div>
                <div class="detalhamento"><strong>Planos atendidos:</strong>
                    <ul>
                        <li>a;</li>
                        <li>b;</li>
                        <li>c;</li>
                        <li>d;</li>
                        <li>e.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="link">
            <div>
                <button><a href="#">ESCALA DE SERVIÇOS DO DIA</a></button>
            </div>
            <div class="link">
                <button><a href="#">MEDICAMENTOS DISPONÍVEIS</a></button>
            </div>
        </div>
            <!-- <div class="detalhamento">ESCALA DO DIA:</div> -->
    </main>
    <script type="text/javascript" src="{% static "js/script-select-menu-e-login-box.js"%}"></script> 
    <footer>
        <p>MedConnect, c2023.</p>
        <p>Site criado por feudo 9 - "Verde Pântano".</p>
    </footer>
</body>
</html>
