<!DOCTYPE html>
{% load static %}
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pré-triagem | Medconnect</title>
    <link rel="stylesheet" href="{%static "styles/PreTriagem.css" %}">
    <link rel="stylesheet" href="{% static "styles/header_e_footer.css" %}">
    <link rel="stylesheet" href="{% static "styles/FazerLogin.css"%}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        body{
        background-color: #ededed;
    }
    </style>
    <style>
        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 10,
            'wght' 200,
            'GRAD' 0,
            'opsz' 36;
            z-index: 1;
            font-size: 36px;
            color: gray;
            font-family: 'Material Symbols Outlined';
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static "js/select.js" %}"></script>
    <script src="{% static "js/login.js" %}"></script>
    <script src="{% static "js/barra_pesquisa.js"%}"></script>
    <script src="{% static "js/login_popup.js"%}"></script>
</head>
<body>
    {% include "inicial/partials/_login.html" %}
    {% include "inicial/partials/_header.html" %}
    <form action="{% url "triagem" %}" method="POST">
    {% csrf_token %}
    <div class="container_pre-triagem">
        <div class="div1">
            <h1 class="titule_pre-triagem">QUESTIONÁRIO DE PRÉ-TRIAGEM</h1>
            <p class="phrase_pre-triagem">
                O site Medconnect disponibiliza uma ferramenta de pré-triagem com base no Protocolo Manchester.
                Essa ferramenta é útil para estimar a prioridade de atendimento de um paciente em um serviço de urgência e emergência. No entanto, é importante lembrar que <u>a pré-triagem é apenas uma estimativa e não substitui a avaliação presencial de um profissional de saúde.</u>
            <br><br>
                O Protocolo Manchester é um sistema de classificação de risco utilizado em serviços de urgência e emergência para determinar a prioridade de atendimento. Ele é dividido em cinco níveis, sendo que o nível 1 corresponde às situações de emergência, que requerem atendimento imediato, e o nível 5 corresponde às situações de não urgência, que podem ser atendidas no mesmo dia ou encaminhadas para a atenção primária.
            <br><br>
                A pré-triagem disponibilizada pelo site Medconnect segue o protocolo estabelecido na maioria dos hospitais. No entanto, existem alguns fatores que podem influenciar a classificação real do paciente no hospital, tais como:
            <br><br>
                A avaliação clínica do paciente pelo profissional de saúde;
                A disponibilidade de recursos no hospital;
                A gravidade da condição do paciente;
                Portanto, é importante que o paciente compareça ao serviço de urgência e emergência mesmo que a pré-triagem tenha indicado um nível de prioridade baixo. O profissional de saúde responsável pela avaliação clínica do paciente é quem irá definir a prioridade de atendimento real.
            <br><br>
                Aqui estão algumas dicas para obter uma pré-triagem mais precisa:
                Responda às perguntas com sinceridade e precisão;
                Forneça todas as informações relevantes sobre seu estado de saúde;
                Se você não tiver certeza sobre a resposta a uma pergunta, consulte um profissional de saúde.
                Agradecemos sua compreensão.
            </p>
            <input style="display: inline; margin-top: 30px; cursor: pointer;" type="checkbox" name="termo" value="1">
                <label for="teste">DECLARO QUE <u>LI</u> E <u>CONCORDO</u> COM O PROPOSTO PELO QUESTIONÁRIO.</label>
        </div>
        <div class="div2">
                <p style="color: black; font-size: 20px;"><strong>Oficialmente as Classificações de risco são:</strong></p>
                <img style="width: 350px;" src="{% static "img/manchester.jpg"%}" alt="" srcset="">
                <p class="pergunta_idade"><strong>Para um melhor resultado, qual é a idade do paciente?</strong></p>
                <input class="checkbox_pre-triagem_1" type="radio" name="idade" value="1">
                <label for="teste">até 14 anos</label>
                <br>
                <input class="checkbox_pre-triagem_1" type="radio" name="idade" value="2">
                <label for="teste">acima de 14 anos</label>
                <br>
                <br>
                <input class="btn_preTriagem" type="submit" value="continuar">
        </div>
    </div>
    </form>
    <!DOCTYPE html>
{%load static%}
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pré-triagem | Medconnect</title>
    <link rel="stylesheet" href="{% static "styles/adulto1.css"%}">
    <link rel="stylesheet" href="{% static "styles/header_e_footer.css" %}">
    <link rel="stylesheet" href="{% static "styles/FazerLogin.css"%}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body{
            background-color: #ededed;
        }
    </style>
    <style>
        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 10,
            'wght' 200,
            'GRAD' 0,
            'opsz' 36;
            z-index: 1;
            font-size: 36px;
            color: gray;
            font-family: 'Material Symbols Outlined';
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static "js/select.js" %}"></script>
    <script src="{% static "js/login.js" %}"></script>
    <script src="{% static "js/barra_pesquisa.js"%}"></script>
    <script src="{% static "js/login_popup.js"%}"></script>
</head>
<body>
    {% include "inicial/partials/_header.html"%}
    {% include "inicial/partials/_login.html"%}
    <form action="{% url "crianca1" %}" method="POST">
        {% csrf_token %}
        <div class="container_adulto1">
            <h1 class="titule_adulto1">QUESTIONÁRIO DE PRÉ-TRIAGEM</h1>
            <strong>
            <h2 style="margin-bottom:20px">selecione os seguintes sintomas do paciente</h2>
            </strong>
            <input class="checkbox_adulto1" type="checkbox" name="quest_b1" value="1">
            <label class="subtitule_adulto1" for="quest_b1"> O paciente está com comprometimento da via aérea?</label>
                    <p class="phrase_adulto1">Pode ser causa por como um corpo estranho, edema ou infecção;
                    Paralisia dos músculos da respiração; Trauma ou lesão;
                    Inflamação ou edema das vias aéreas; Doenças neuromusculares.</p>
            <input class="checkbox_adulto1" type="checkbox" name="quest_b1" value="1">
            <label class="subtitule_adulto1" for="quest_b1"> O paciente está com respiração ineficaz?</label>
                <p class="phrase_adulto1">Apresenta sensação de dificuldade para respirar; Respiração rápida e superficial;
                Respiração lenta e profunda; ausência de respiração; Respiração rápida e profunda;
                uso de músculos que não são usados normalmente na respiração, como os músculos do pescoço, ombros e costas;
                Ruídos anormais na respiração, como sibilância, ronco ou crepitação.</p>

            <input class="checkbox_adulto1" type="checkbox" name="quest_b1" value="1">
            <label class="subtitule_adulto1" for="quest_b1"> O paciente está em choque</label>
        
                <p class="phrase_adulto1">O paciente pode parecer confuso, desorientado ou simplesmente não estar respondendo.
                Pele fria, pálida ou úmida: a pele do paciente pode estar fria ao toque, pálida ou úmida.
                Taquicardia: a frequência cardíaca do paciente pode estar acima de 100 batimentos por minuto.
                Hipotensão: a pressão arterial do paciente pode estar baixa. Respiração rápida e
                superficial: a respiração do paciente pode ser rápida e superficial. Desidratação:
                o paciente pode estar com sede ou apresentar sinais de desidratação, como boca seca, urina concentrada ou diminuição da produção de urina.</p>
        
            <input class="checkbox_adulto1" type="checkbox" name="quest_b1" value="1">
            <label class="subtitule_adulto1" for="quest_b1"> O paciente não responde</label>
                <p class="phrase_adulto1">O paciente não responde a estímulos simples, como chamar seu nome, tocar seu ombro ou sacudi-la suavemente.</p>
            <div id="box-button">
                <a style="margin-top:20px;" href="{% url "triagem" %}"><input class="btn_adulto1_voltar" type="button" value="voltar"></a>
                <input style="margin-top:20px;" class="btn_adulto1_continuar" type="submit" value="continuar">
            </div>
        </div>
    </form>
    {% include "inicial/partials/_footer.html"%}
    <script src="../static/js/togglemenu.js"></script>
</body>
</html>
</body>
</html>

{% comment %} get - manda a logica pra url
post - manda a logica pro servidor (django) {% endcomment %}
