<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medconnect</title>
    <link rel="stylesheet" href="PreTriagem.css">
    <style>body{
        background-color: #ededed;
    }
    </style>
</head>
<body>
    <div class="container_pre-triagem">
        <div class="div1">
            <h1 class="titule_pre-triagem">QUESTIONÁRIO DE PRÉ-TRIAGEM</h1>
            <p class="phrase_pre-triagem">
                O site Medconnect disponibiliza uma ferramenta de pré-triagem com base no Protocolo Manchester.
                Essa ferramenta é útil para estimar a prioridade de atendimento de um paciente em um serviço de urgência e emergência. No entanto, é importante lembrar que <u>a pré-triagem é apenas uma estimativa e não substitui a avaliação presencial de um profissional de saúde.</u>
            <br><br>
                O Protocolo Manchester é um sistema de classificação de risco utilizado em serviços de urgência e emergência para determinar a prioridade de atendimento. Ele é dividido em cinco níveis, sendo que o nível 1 corresponde às situações de emergência, que requerem atendimento imediato, e o nível 5 corresponde às situações de não urgência, que podem ser atendidas no mesmo dia ou encaminhadas para a atenção primária.
            <br><br>
                A pré-triagem disponibilizada pelo site Medconnect segue o protocolo estabelecido na maioria dos hospitais. No entanto, existem alguns fatores que podem influenciar a classificação real do paciente no hospital, tais como:
            <br><br>
                A avaliação clínica do paciente pelo profissional de saúde;
                A disponibilidade de recursos no hospital;
                A gravidade da condição do paciente;
                Portanto, é importante que o paciente compareça ao serviço de urgência e emergência mesmo que a pré-triagem tenha indicado um nível de prioridade baixo. O profissional de saúde responsável pela avaliação clínica do paciente é quem irá definir a prioridade de atendimento real.
            <br><br>
                Aqui estão algumas dicas para obter uma pré-triagem mais precisa:
                Responda às perguntas com sinceridade e precisão;
                Forneça todas as informações relevantes sobre seu estado de saúde;
                Se você não tiver certeza sobre a resposta a uma pergunta, consulte um profissional de saúde.
                Agradecemos sua compreensão.
            </p>
            <input style="display: inline;" type="checkbox" name="">
            <p style="display: inline;">DECLARO QUE <u>LI</u> E <u>CONCORDO</u> COM O PROPOSTO PELO QUESTIONÁRIO</p>
        </div>
        <div class="div2">
            <br>
            <p style="color: black; font-size: 25px;">Oficialmente as Classificações de risco são:</p>
            <img style="width: 400px;" src="MIDIA/IMG/manchester.jpg" alt="" srcset="">
            <p class="pergunta_idade">Para um melhor resultado, qual é a idade do paciente?</p>
            <input style="display: inline; margin-top: 10px; margin-bottom: 10px;" class="checkbox_pre-triagem_2" type="checkbox" name="">
            <p style="display: inline; font-size: 18px;">até 14 anos</p>
            <br>
            <input style="display: inline;" class="checkbox_pre-triagem_2" type="checkbox" name="">
            <p style="display: inline; font-size: 18px; font: inter;">acima de 14 anos</p>
            <input class="btn_preTriagem" type="button" value="continuar">
        </div>
    </div>
</body>
</html>