<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedConnect</title>
    <link rel="stylesheet" href="Redefinir_Senha.css">
    
</head>
<body class="body_Redefinir">
    <div class="multi-step-form-container">
        <h1 class="titule_Redefinir">Redefinir Senha</h1>
            <p class="frase_Redefinir">está nova senha irá substituir a sua antiga senha, coloque uma senha diferente da anterior.</p>
                <b>
            <p class="inputs_Text_Redefinir">coloque sua nova senha:</p>
            </b>
            <input class="inputs_Box_Redefinir" type="password" placeholder="digite aqui">
            <b>
                <p class="inputs_Text_Redefinir">confirme sua nova senha:</p>
            </b>
            <input class="inputs_Box_Redefinir" type="password" placeholder="digite novamente aqui">
            <br>
        <button class="btn_ConfirmarNovaSenha">confirmar nova senha</button>
    </div>
</body>
</html>