{% load static %}

<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedConnect</title>
    <link rel="shortcut icon" href="MIDIA/IMG/logo-ds.png" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'styles/Sobre-Nos(Header).css' %}">
    <link rel="stylesheet" href="{% static 'styles/Sobre-Nos(Main).css' %}">
    <!-- fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet">
    
</head>
<body>
    <!-- MENU SUPERIOR -->
    <header >
        <DIV class="header_container">
            <div>
                <!--colocar link para a pagina inicial-->
                <a class="titulo" href="{% url "index" %}">
                    <h1>MedConnect</h1>
                </a>
                    <input class="buscador" type="text" placeholder="FAZER PESQUISA...">
                <a href="FazerLogin.html">
                    <input class="login_box" type="button" value="LOGIN/CADASTRO">
                </a>
                
                <!-- imagens: -->
                <!-- <img id="logoMenu" src="MIDIA/IMG/logo-ds.png" alt="logo menu superior">
                <img src="MIDIA/IMG/lupa.png" alt=""> -->
            </div>
        </DIV>
        <nav>
            <a href="{% url "locais_de_atendimento" %}">PROCURAR HOSPITAL</a>
            <a href="#">PRÉ-TRIAGEM</a>
            <a href="{% url "sobre_nos" %}">SOBRE NÓS</a>
            <a href="{% url "duvidas_frequentes" %}">DUVIDAS FREQUENTES</a>
        </nav>
    </header>

    
    <Main>
        <span>
            <article>
                <h1>QUEM SOMOS</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Commodi hic dolorem quibusdam minima facilis excepturi rerum aperiam nam maiores eaque ad aut blanditiis eum, repudiandae fuga, magnam ex, doloremque impedit?
                    </p>
                <h1>OBJETIVO DO SITE</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, ad et? Voluptates velit accusantium quia quasi. 
                        Error illum similique magnam veniam mollitia eveniet, pariatur aut impedit obcaecati ducimus reprehenderit molestias?
                    </p>
            </article>
        </span>
    </Main>
</body>
</html>