<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="adulto1.css">
    <title>MedConnect</title>
    <style>
        body{
            background-color: #ededed;
        }
    </style>
</head>
<body>
    <div class="container_adulto1">
        <h1 class="titule_adulto1">RESULTADO DA PRE-TRIAGEM</h1>
        <hr>
        <img src="MIDIA/IMG/poucaUrgencia.png" alt="imagem de emergencia">
        <p class="phrase_adulto1">
            Caro usuário,<br>

Sua pré-triagem foi classificada como "Verde", indicando uma situação de menor urgência. Embora sua condição não exija atendimento imediato, os profissionais de saúde estarão prontos para oferecer a assistência adequada assim que possível. <br><br>O tempo de espera pode ser um pouco mais longo, dependendo da demanda, mas será direcionado ao atendimento necessário. <br><br>Recomendamos que se dirija ao hospital ou unidade de saúde indicados para receber cuidados apropriados.

Lembramos que o tempo de espera pode ser influenciado por fatores como a demanda do hospital e a gravidade das condições de outros pacientes. Caso sua condição se agrave ou tenha dúvidas, não hesite em buscar ajuda imediatamente.</p>
        <input class="btn_adulto1_continuar" type="button" value="voltar ao inicio">
    </div>
</body>
</html>