{% load static %}

<header id="principal-header">
    <div id="logotipo">
        <img id="icone" src="{% static "img/estetoscopio32px.png"%}" alt="MedConnect logo." />
        <span id="titulo">MedConnect</span>
    </div>
    <nav id="_header">
        {% if request.path == "/" %}
            <a href="{% url "index" %}" rel="prev" target="_self" style="font-weight: 650;">INÍCIO</a>
            <span class="divisor">|</span>
        {% else %}
            <a href="{% url "index" %}" rel="prev" target="_self">INÍCIO</a>
            <span class="divisor">|</span>
        {% endif %}
        {% if request.path == "/atendimento"%}
            <a href="{% url "locais_de_atendimento" %}" target="_self" style="font-weight: 650;">LOCAIS DE ATENDIMENTO</a>
            <span class="divisor">|</span>
        {% else %}
            <a href="{% url "locais_de_atendimento" %}" target="_self">LOCAIS DE ATENDIMENTO</a>
            <span class="divisor">|</span>
        {% endif %}
        {% if request.path == "/triagem" %}
            <a href="#" target="_self" style="font-weight: 650;">PRÉ-TRIAGEM</a>
            <span class="divisor">|</span>
        {% else %}
            <a href="#" target="_self">PRÉ-TRIAGEM</a>
            <span class="divisor">|</span>
        {% endif %}
        {% if request.path == "/duvidas_frequentes" %}
            <a href="{% url "duvidas_frequentes" %}" target="_self" style="font-weight: 650;">DÚVIDAS FREQUENTES</a>
        {% else %}
            <a href="{% url "duvidas_frequentes" %}" target="_self">DÚVIDAS FREQUENTES</a>
        {% endif %}
        
    </nav>
    <button id="btnPesquisar">
        <p style="font-size: 15px; font-weight: 500; margin-right: 7px;">PESQUISAR</p>
        <span class="material-symbols-outlined" style="color: black; font-size: 25px;">search</span>
    </button>
    {% if user.is_authenticated %}
        <button type="button" class="login_box">
            <span style="font-size: 11px;">{{ user.username }}</span>
            <span class="material-symbols-outlined">account_circle</span>
        </button>
    {% else %}
        <button type="button" class="login_box2">
            <span  style="font-size: 11px;">Realizar Login</span>
            <span class="material-symbols-outlined">account_circle</span>
        </button>
    {% endif %}
        <!--</a>-->
            
    <div class="content_account">
        <button><p style="font-size: 11px; padding: 9px 0;">MEUS DADOS</p></button>
        <button><a style="text-decoration: none; color: inherit;" href="{% url "minhas_avaliacoes" %}"><p style="font-size: 11px; padding: 9px 0;">MINHAS AVALIAÇÕES</p></a></button>
        <button style="border-radius: 0px 0px 20px 20px;"><a style="text-decoration: none; color: inherit;" href="{% url "logout" %}"><p style="font-size: 11px; padding: 9px 0;">SAIR DO PERFIL</p></a></button>
    </div>

    <!-- <nav>         
        <a href="index.html" rel="prev" target="_self">INÍCIO</a>
        <span class="divisor">|</span>
        <a href="locais_de_atendimento.html" target="_self">LOCAIS DE ATENDIMENTO</a>
        <span class="divisor">|</span>
        <a href="area_do_paciente.html" target="_self">PRÉ-TRIAGEM</a>
        <!-<a href="area_do_colaborador.html" target="_self">ÁREA DO COLABORADOR</a>--
        <span class="divisor">|</span>
        <a href="duvidas_frequentes.html" target="_self">DÚVIDAS FREQUENTES</a>
        <!- 'target="_self"': continua na mesma aba. -- 
    </nav> -->
</header>
    <section id="pesquisa"> 
        <div id="top-bar1" style="display: none;">
            <span>Selecione o tipo de pesquisa:</span>
            <button id="locais_de_atendimento">Locais de atendimento</button>
            <a href="{% url "duvidas_frequentes" %}"><button id="outras_duvidas">Outras dúvidas</button></a>
            <button id="fechar_aba" style="display: none;"><span class="material-symbols-outlined" style="font-size: 25px; height: 20px;">
                close
                </span></button>
            <!-- <input type="radio" name="..." id="procurar_locais">
            <label for="procurar_locais" title="text" style="font-weight: 400;">Locais de atendimento</label>
            <input type="radio" name="..." id="outras_duvidas">
            <label for="outras_duvidas" title="text" style="font-weight: 400;">Outras dúvidas</label> -->
        </div>
        <div id="top-bar2" style="display: none;">
            <button class="voltar"><i class="uil uil-angle-left" style="font-size: 30px; color: gray;"></i></button>
            <form action="{% url 'buscar' %}">
                <input name="buscar" type="text" id="txt_outras_duvidas" placeholder="PESQUISAR..."/>
                <div class="wrapper">
                    {{ filter.uf }}
                </div>
                <div class="wrapper">
                    {{ filter.municipio }}
                </div>
                <div class="wrapper">
                    {{ filter.especialidade }}
                </div>
                <div class="wrapper">
                    {{ filter.categoria }}
                </div>
                <button type="submit" id="btnProcurar"><span class="material-symbols-outlined" style="color: black; font-size: 30px">search</span></button>
            </form>
        </div>
    </section>