{% load static %}

{% for message in messages %}
    <div class="message {{message.tags}}">
        <h4>{{ message }}</h4>
    </div>
{% endfor %}
{% with request.resolver_match.view_name as view_name %}
    <div class="modal_box_login hidden">
        <div class="modal_login">
            <!-- <a href="SobreNos.html"><img style="width: 20px; position: relative; bottom:20px; left: -15px;" src="MIDIA/IMG/voltar (1).png" alt="icone voltar"></a> -->
            <button class="voltar2"><i class="uil uil-angle-left" style="font-size: 30px; color: gray;"></i></button>
            <h1 class="titule">Fazer login</h1>
            <a style="text-decoration: none" href="{% url "cadastro" %}"><p class="CriarConta" >Criar conta</p></a>
            {% if view_name == 'mais_informacoes' %}
                {% with view_name='locais_de_atendimento' %}
                    <form action="{% url "login" view_name %}" method="POST">
                        {% csrf_token %}
                        <input name="usuario" class="email_login" style="display: block;" type="text" placeholder="USUARIO">
                        <input name="senha" class="password_login" style="display: block;" type="password" placeholder="SENHA">
                        <p class="link_esqueciSenha">esqueci a senha</p>
                        <input type="submit" style="display: block;" type="button" value="REALIZAR LOGIN" id="button_login">
                    </form>
                {% endwith %}
                {% else %}
                    <form action="{% url "login" view_name %}" method="POST">
                        {% csrf_token %}
                        <input name="usuario" class="email_login" style="display: block;" type="text" placeholder="USUARIO">
                        <input name="senha" class="password_login" style="display: block;" type="password" placeholder="SENHA">
                        <p class="link_esqueciSenha">esqueci a senha</p>
                        <input type="submit" style="display: block;" type="button" value="REALIZAR LOGIN" id="button_login">
                    </form>
            {% endif %}
            <!--<p style="text-align: center;"> OU </p>
            <input class="login_google" type="button" value="CONTINUAR COM O GOOGLE">
            <input class="login_facebook" type="button" value="CONTINUAR COM O FACEBOOK">-->
        </div>
        <div class="modal_esqueciSenha hidden">
            <!-- <a href="FazerLogin.html"><img class="modal_icon_back" src="MIDIA/IMG/voltar (1).png" alt="icone voltar"></a> -->
            <div id="modal_title">
                <button class="voltar3"><i class="uil uil-angle-left" style="font-size: 30px; color: gray;"></i></button>
                <h1 class="modal_title">Esqueci minha senha</h1>
            </div>
            <p class="modal_phrase">
                Para redefinir sua senha, informe o e-mail cadastrado na sua conta e 
                lhe enviaremos um link com as instruções:
            </p>
            {% if view_name == 'mais_informacoes' %}
                {% with view_name='locais_de_atendimento' %}
                    <form action="{% url "confirma_email" view_name %}" method="POST">
                        {% csrf_token %}
                        <input name="email" class="modal_email" type="email" placeholder="EMAIL">
                        <input type="submit" class="modal_button" type="button" value="Enviar">
                    </form>
                {% endwith %}
                {% else %}
                    <form action="{% url "confirma_email" view_name %}" method="POST">
                        {% csrf_token %}
                        <input name="email" class="modal_email" type="email" placeholder="EMAIL">
                        <input type="submit" class="modal_button" type="button" value="Enviar">
                    </form>
            {% endif %}
        </div>
    </div>
{% endwith %}