:root{
    --clrblue--:#1D7ff1;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container_adulto1{
    padding: 10px 300px 0px 300px;
}
.titule_adulto1{
    color: var(--clrblue--);
    font-size: 25px;
    font-style: start;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: inline block;
    margin-bottom: 10px;
}
.subtitule_adulto1{
    color: #000;
    font-family: Josefin Sans;
    font-size: 20px;
    font-style: justify;
    font-weight: 500;
    line-height: normal;
    display: inline;
    position: relative;
    right: 25px;
}
.phrase_adulto1{
    color: #757272;
    font-family: Josefin Sans;
    font-size: 17px;
    text-align: justify;
    font-weight: 200;
    display: inline block;
    margin: 0px 0px 20px 0px;
}
.checkbox_adulto1{
    width: 20px;
    height: 20px;
    size: 100px;
    display: inline block;
    position: relative;
    right: 70px;
    top: 7px;
}
.checkbox_adulto1:hover{
    cursor: pointer;
}
.btn_adulto1_voltar, .btn_adulto1_continuar{
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--clrblue--);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
}
.btn_adulto1_continuar{
    position: relative;
    left: 635px;
}
.btn_adulto1_continuar:hover, .btn_adulto1_voltar:hover{
    background-color: #023D83;
    box-shadow: none;
    cursor: pointer;
}
